
	.admin-nav__control__count {
		right: 0px;
		line-height: 12px;
		font-size: 12px;
		font-weight: 700;
	}
	.dropdown {
		left: 3em;
		right: auto;
		@include respond($bp__tab_mid) {
			left: 0;
			right: auto;
			&:before {
				left: 5px !important;
				right: auto !important;
			}
			&:after {
				left: 5px !important;
				right: auto !important;
			}
		}
	}
	.user-nav {
		margin-left: 10px;
		@include respond($bp__mm) {
			margin-left: 15px;
		}
	}
	.user-menu__item {
		font-size: 1.5em;
		&.account-link-item {
			font-size: 1.4em;
		}
	}
	.user-menu {
		.icon {
			margin-right: 5px;
		}
	}
	.user-notifications,
	.user-messages {
		li,
		.dropdown__header {
			font-size: 1.3em;
		}
		.dropdown {
			.dropdown__header {
				padding: 10px 20px 20px 20px;
			}
			.dropdown__inner-link {
				font-size: 10px;
				float: left;
				.icon {
					margin: 0 5px 0 0;
				}
			}
			.dropdown_title {
				font-weight: 400;
				font-size: 1.4em;
				float: right;
			}
		}
	}
	.user-notifications {
		font-weight: 400;
	}
	.user-nav .dropdown {
		&:after, &:before {
			left: 55px;
			right: auto;
		}
	}
	.user-messages .dropdown {
		&:after, &:before {
			left: 98px;
			right: auto;
		}
	}
	.user-notifications .dropdown {
		&:after, &:before {
			left: 140px;
			right: auto;
		}
	}
	.admin-nav__dropdown .msg__item_left,
	.admin-nav__dropdown .msg__item_right {
		@extend %pullLeft;
	}
	.admin-nav__dropdown .msg__item_left,
	.messages-modal__conversations .message__left {
		padding-left: 10px;
		padding-right: 0;
	}

	.admin-nav__dropdown .msg__item_right {
		.msg {
			font-size: 13px;
			line-height: 17px;
		}
		&:before {
			@include triangleIcon($direction:"left", $fillColor: "#EEE");
			right: -11px;
			left: auto;
		}
	}
	.dashboard-page {
		.subsection-title {
		  	line-height: 30px;
			font-size: 2em;
		}
	}
/* ---------------- End of Messages Shared Styles --------------- */

/*----------------------------------------*\
	Messages Styles
\*----------------------------------------*/
	#inbox > header {
		.subsection-title {
			line-height: 30px;
			font-size: 2em;
			&:before {
				content: "\203A";
				font-size: 2em;
				line-height: 38px;
			}
		}
	}
	a.message:hover {
		.message__inner {
			&:before {
				border-right-color: $burgundy;
			}
		}
	}
	#newMsg {
		font-size: 1.4em;
		left: 0;
		right: auto;
		font-weight: 700;
	}
	.conversations {
		.message {
			.username {
				font-weight: 700;
				font-size: 1.6em;
			}
		}
		.msg {
			font-size: 14px;
			line-height: 17px;
		}
		.message__right  {
			@extend %pullLeft;
		}
		.message__left {
			padding-left: 10px;
			padding-right: 0;

		}
		.message__right  {
			padding-left: 0;
			padding-right: 60px;
			.message__inner {
				&:before {
					@include triangleIcon($direction:"left", $fillColor: "#EEE");
					right: -11px;
				}
			}

		}
	}
	.msg-date {
		margin-left: 60px;
	}
	.message-sent {
		.message__left,
		.message__right {
			@extend %pullRight;
		}
		.message__right {
			padding-left: 6em;
			padding-right: 0;
			.message__inner {
				&:before {
					border-right: 6px solid #bbb;
					border-left: 6px solid transparent;
					left: -11px;
					right: auto;
				}
			}
		}
		.message__left {
			left: 0;
			right: auto;
			padding-right: 10px;
			padding-left: 0;
		}
		.msg-date {
			text-align: right;
			margin-left: 60px;
			margin-right: 0;
		}
	}
	.message-form {
		text-align: right;
	}
	.new-msg-user {
		text-align: right;
		label {
			right: 10px;
			left: auto;
			top: 15px;
		}
		input {
			padding-right: 30px;
			padding-left: 0;
		}
	}
/* ---------------- End of Messages Modal Styles ---------------- */


/*----------------------------------------*\
	Common Forms Styles
\*----------------------------------------*/
	legend {
		font-size: 1.6em;
	}
	label {
		font-size: 1.4em;
		font-weight: 700;
		line-height: 1.25em;
	}
	input, textarea, button {
		font-size: 1.4em;
	}
	input, button {
		@extend %titleFont;
	}
	textarea {
		@extend %bodyFont;
	}
	input.btn {
		font-weight: 400;
	}
	.combo {
		margin-left: -3em;
		.form-group {
			@extend %pullLeft;
			padding-left: 3em;
		}
	}
	.links__group {
		margin-left: -3%;
		.links__group__item {
			width: 30.333%;
			margin-left: 3%;
			margin-bottom: 30px;
			@extend %pullLeft;
			&:last-child {
				@extend %pullLeft;
			}
		}
		.fa {
			margin-right: 10px;
		}
	}
	.options-group {
		input, label {
			width: auto;
			float: none;
		}
		input {
			margin-left: 5px;
		}
	}
	.options-group.radios {
		margin-right: 30px;
	}
	.conference-extra__element {
		font-size: 14px;
		label {
			font-size: 14px;
		}
		span {
			margin: 0 5px 0 0;
		}
	}
/* ---------------- End of Common Forms Styles ------------------ */

/*----------------------------------------*\
	Dashboard Page & Admin Pages
\*----------------------------------------*/
	.admin-bar__list {
		> li {
			margin-left: 25px;
			margin-right: 0;
			&:last-child {
				margin-left: 0;
			}
		}
		@include respond($bp__phab_min) {
			> li {
				margin-left: 50px;
				margin-right: 0;
				&:last-child {
					margin-left: 0;
				}
			}
		}
		@include respond($bp__mid) {
			> li {
				margin-left: 95px;
				margin-right: 0;
				&:last-child {
					margin-left: 0;
				}
			}
		}
	}
	.admin-bar__link {
		font-size: 1.2em;
		.icon {
			font-size: 18px;
			margin-right: 5px;
		}
		@include respond($bp__phab_mid) {
			.icon {
				font-size: 20px;
				margin-right: 10px;
			}
		}
		@include respond($bp__phab_mid) {
			font-size: 1.6em;
		}
	}
	.admin__dropdown {
		left: 0;
		&:before {
			top: -20px;
			left: 3px;
		}
		&:after {
			top: -19px;
			left: 3px;
		}
		a {
			font-size: 1.4em;
		}
	}
	.pager {
		li {
			margin-left: 10px;
			font-size: 1.25em;
			a {
				font-size: 1.2em;
				font-family: helvetica;
				font-weight: 700;
			}
		}
	}

	// Dashboard Side Bar Message Form Styles
		#dashboardSendMsgForm {
			legend {
				font-weight: 300;
				font-size: 1.2em;
				line-height: 1.35em;
			}
			input[type="submit"] {
				font-family: $titleFont;
				outline: none;
			}
		}

	// Admin Content List (media & dashboard) Common Styles
		.content-form-header {
			font-weight: 700;
			font-size: 1.5em;
			> div {
				@extend %pullLeft;
			}
		}
		.admin-filter {
			label, select {
				font-weight: 400;
			}
			label {
				font-size: 1.4em;
				margin-right: 10px;
			}
			select {
				font-size: 1.2em;
			}
		}
		.form-header-actions {
			@extend %pullRight;
		}
		.admin-content-form-item {
			padding:1em 0.5em 1em;
			.content-type {
				@extend %pullLeft;
				font-size: 1.4em;
			}
			.content-group {
				@extend %pullLeft;
				padding-right: 3em;
			}
			.content-operations {
				@extend %pullRight;
				a {
					font-size: 1.4em;
					&:first-child {
						margin-right: 15px;
					}
				}
			}
			.content-group__left-col {
				@extend %pullLeft;
			}
			.content-group__right-col {
				@extend %pullLeft;
				padding-left: 3em;
			}
			.content-title {
				font-size: 1.4em;
				@extend %titleFont;
				line-height: 1.25em;
			}
			.media-type {
				font-size: 11px;
			}
		}

	// Manage Media/users Specific Stylesfont-weight: 700;
		.media-group, .user-group {
			font-size: 1.4em;
			p { font-size: 1em; }
		}

	// Admin create/edit pages & forms
		.admin-page__title {
			font-size: 2em;
			font-weight: 300;
		}
		.admin-form {
			padding: 4em;
			.form-main-btn-wrapper {
				.btn { @extend %pullRight; }
			}
			.module {
				.form-inner-action-group {
					text-align: right;
				}
				.remove {
					right: 5px;
				}
			}
			.module-speakers {
				@extend %grid-wrapper;
				.module__col {
					// @extend %grid-col;
				}
			}
			.module-initiative-tasks-list {
				input, textarea {
					display: inline-block;
					float: none;
				}
			}
		}

	// profile edit
		.user__profile .admin-form {
			.user__profile__name .form-group,
			.user__profile__location .form-group {
				@extend %pullLeft;
			}
			.profile__bio textarea {
				font-size: 18px;
			}
		}

	// Account Settings
	#deleteAcc {
		font-size: 1.4em;
	}
/* ---------------- End of Dashboard Page & Admin Pages --------- */

.event-create-notification-msg {
	p {
		font-size: 1.4em;
		font-weight: 700;
	}
	.form-main-btn-wrapper {
		text-align: right;
	}
}
