
	.icon__r {
		display: inline-block;
	}
	.admin-nav__control__count {
		position: absolute;
		top: 0px;
		right: 0px;
		background: #FFF;
		line-height: 12px;
		padding: 1px;
		font-size: 12px;
		font-weight: 700;
		color: $burgundy;
	}
	.dropdown {
		z-index: 9994;
		position: absolute;
		background: #FFF;
		border: 1px solid #DDD;
		border-radius: 5px;
		padding: 10px 0 15px;
		display: none;
		right: 3em;
		margin-top: 10px;
		width: 260px;
		&:before {
			content: "";
			position: absolute;
			border: 10px solid transparent;
			height: 0;
			width: 0;
			border-bottom: 10px solid #DDD;
			top: -21px;
		}
		&:after {
			content: "";
			position: absolute;
			border: 10px solid transparent;
			height: 0;
			width: 0;
			border-bottom: 10px solid #FFF;
			top: -20px;
		}
		&.isVisible {
			display: block;
		}
		@include respond($bp__tab_mid) {
			width: 250px;
			right: 0;
			top: 45px;
			left: auto;
			margin-top: 0;
			&:before {
				top: -20px;
				right: 5px !important;
			}
			&:after {
				top: -19px;
				right: 5px !important;
			}
		}
	}
	.user-nav {
		margin-left: 10px;
		@include respond($bp__tab_mid) {
			margin-left: 15px;
		}
	}
	.user-menu__item {
		font-size: 1.5em;
		a {
			display: block;
			padding: 10px 20px;
			color: rgba(0, 0, 0, 0.6);
			&:hover {
				color: rgba(0, 0, 0, 0.8);
			}
		}
		&.separator {
			margin-top: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #f2f2f2;
		}
		&.account-link-item {
			font-size: 1.4em;
			a {
				padding: 5px 20px;
				color: rgba(0, 0, 0, 0.3);
				&:hover {
					color: rgba(0, 0, 0, 0.8);
				}
			}
		}
	}
	.user-menu {
		.icon {
			margin-right: 5px;
			width: 20px;
		}
		.fa-lightbulb-o {
			font-size: 19px;
			margin-top: -2px;
		}
		.fa-comments-o {
			font-size: 17px;
			margin-top: -5px;
		}
		.fa-calendar-o {
			font-size: 15px;
		  	margin-top: -3px;
		}
		.fa-pencil-square-o {
			font-size: 17px;
			margin-top: -1px;
		}
	}
	.user-avatar {
		cursor: pointer;
		width: 30px;
		height: 30px;
		overflow: hidden;
		display: block;
		@extend %fullBorderRadius;
		background-size: cover;
		@include respond($bp__tab_mid) {
			width: 35px;
			height: 35px;
		}
	}
	.user-notifications,
	.user-messages {
		li,
		.dropdown__header {
			border-bottom: 1px solid #EEE;
			line-height: 1.25em;
			padding: 10px 20px 10px;
			font-size: 1.3em;
		}
		li:last-child {
			border-bottom: 0;
		}
		.dropdown {
			a:hover {
				color: $burgundy;
			}
			.dropdown__top {
				border-bottom: 1px solid #EEE;
				.dropdown__title {
					display: block;
					font-weight: 700;
				}
			}
			.dropdown__header {
				padding: 10px 20px 20px 20px;
				@extend %clearfix;
			}
			.dropdown__inner-link {
				font-size: 10px;
				float: right;
				line-height: 1em;
				padding-top: 6px;
				.icon {
					line-height: 10px;
					margin: 0 0 0 5px;
				}
			}
			.dropdown_title {
				font-weight: 400;
				font-size: 1.4em;
				color: #A2A2A2;
				float: left;
			}
		}
	}
	.user-nav .dropdown {
		&:after, &:before {
			right: 55px;
		}
	}
	.user-messages .dropdown {
		&:after, &:before {
			right: 98px;
		}
	}
	.user-notifications .dropdown {
		&:after, &:before {
			right: 140px;
		}
	}
	.admin-nav__dropdown .msg__item {
		padding: 10px;
		> a , .username, .avatar { display: block; }
		> a { @extend %clearfix; }
		.username { font-weight: 700; }
		.avatar img { @extend %fullBorderRadius; }
	}
	.admin-nav__dropdown .msg__item_left,
	.admin-nav__dropdown .msg__item_right {
		@extend %pullLeft;
		position: relative;
	}
	.admin-nav__dropdown .msg__item_left,
	.messages-modal__conversations .message__left {
		max-width: 40px;
		width: 15%;
		padding-right: 10px;
	}

	.admin-nav__dropdown .msg__item_right	 {
		width: 85%;
		padding: 10px;
		background: #eee;
		.msg {
			font-size: 13px;
			line-height: 17px;
		}
		&:before {
			@include triangleIcon($direction:"right", $fillColor: "#EEE");
			position: absolute;
			left: -11px;
			top: 0;
		}
	}
	.msg__item {
		a:hover .notification__message__right:after {
			  display: block;
			  content: "\f112";
			  position: absolute;
			  right: 7px;
			  top: 5px;
			  font-family: FontAwesome;
			  text-rendering: auto;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  line-height: 14px;
			  font-size: 10px;
		}
	}

	.dashboard-page {
		.section-title,
		.subsection-title {
			margin: 0;
			display: inline-block;
			vertical-align: bottom;
		}
		.subsection-title {
		  	line-height: 30px;
			font-size: 2em;
			color: #666;
			&:before {
				content: "\203A";
				font-size: 2em;
				line-height: 38px;
				vertical-align: bottom;
				margin: 0 5px;
			}
		}
	}
/* ---------------- End of Messages Shared Styles --------------- */
	.modal__module {
		display: table;
		height: 100%;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}
/*----------------------------------------*\
	Messages Styles
\*----------------------------------------*/
	#inbox > header {
		position: relative;
		margin-bottom: 6em;
		.section-title,
		.subsection-title {
		  margin: 0;
		  display: inline-block;
		  vertical-align: bottom;
		}
		.subsection-title {
			line-height: 30px;
			font-size: 2em;
			color: #666;
			&:before {
				content: "\203A";
				font-size: 2em;
				line-height: 38px;
				vertical-align: bottom;
				margin: 0 5px;
			}
		}
	}
	.message {
		display: block;
		position: relative;
		margin-bottom: 3em;
		@extend %clearfix;
		color: #000;
	}
	a.message:hover {
		.message__inner {
			background: $burgundy;
			color: #FFF;
			&:before {
				border-right-color: $burgundy;
			}
		}
	}
	#newMsg {
		font-size: 1.4em;
		position: absolute;
		right: 0;
		top: 5px;
		padding: 3px 20px 5px;
		border: 1px solid #D2D2D2;
		border-radius: 25px;
		text-align: center;
		font-weight: 700;
		display: inline-block;
	}
	.conversations {
		@extend %clearfix;
		max-height: 800px;
		overflow-y: scroll;
		.message {
			> a ,
			.username,
			.avatar {
				display: block;
			}
			> a {
				@extend %clearfix;
			}
			.username {
				font-weight: 700;
				font-size: 1.6em;
			}
			.avatar img {
				@extend %fullBorderRadius;
			}
		}
		.msg {
			font-size: 14px;
			line-height: 17px;
		}
		.message__right  {
			@extend %pullLeft;
			position: relative;
		}
		.message__left {
			width: 60px;
			padding-right: 10px;
			position: absolute;
		}
		.message__right  {
			width: 100%;
			padding-left: 60px;
			.message__inner {
				padding: 10px;
				position: relative;
				background: #eee;
				@include border-radius(5px);
				&:before {
					@include triangleIcon($direction:"right", $fillColor: "#EEE");
					position: absolute;
					left: -11px;
					top: 10px;
				}
			}

		}
	}
	.msg-date {
		clear: both;
		padding-top: 10px;
		display: block;
		margin-left: 60px;
	}
	.message-sent {
		.message__left,
		.message__right {
			@extend %pullRight;
		}
		.message__right {
			padding-left: 0;
			padding-right: 6em;
			.message__inner {
				background: #bbb;
				&:before {
					border-left: 6px solid #bbb;
					border-right: 6px solid transparent;
					left: auto;
					right: -11px;
				}
			}
		}
		.message__left {
			right: 0;
			padding-right: 0;
			padding-left: 10px;
		}
		.msg-date {
			text-align: right;
			margin-left: 0;
			margin-right: 60px;
		}
	}
	.message-form {
		text-align: right;
		margin-top: 2em;
		textarea {
			background: #FFF;
			border: 1px solid #d2d2d2;
			@include border-radius(5px);
			width: 100%;
			max-width: 100%;
			outline: none;
			padding: 5px;
		}
		.btn {
			margin-top: 10px;
			border-radius: 5px;
		}
	}
	.conversations-list {
		li {
			display: block;
		}
	}
	.new-msg-user {
		text-align: left;
		border: 1px solid #d2d2d2;
		padding: 10px;
		@include border-radius(5px);
		position: relative;
		label {
			position: absolute;
			left: 10px;
			top: 11px;
			width: 30px;
		}
		input {
			width: 100%;
			padding-left: 30px;
		}
	}
/* ---------------- End of Messages Modal Styles ---------------- */

/*----------------------------------------*\
	Mobile menu specific styles
\*----------------------------------------*/
	#menuToggle {
		z-index: 10;
		@include sprites-sprite(menu);
		height: sprites-sprite-height(menu);
		width: sprites-sprite-width(menu);
		/* show mobile menu toggle switch */
		@media all and (max-width: 825px) {
			position: absolute;
			right: 3em;
			top: 10px;
			display: block;
		}
		@media all and (max-width: 350px) {
			right: 2em;
			top: 5px;
		}
	}
/* ---------------- End of Mobile Menu Styles ------------------- */

/*----------------------------------------*\
	Common Forms Styles
\*----------------------------------------*/
	fieldset {
		margin: 20px 0px;
		border: 1px solid #D2D2D2;
		padding: 20px;
	}
	legend {
		color: #444;
		font-size: 1.6em;
		margin-bottom: 20px;
		border-bottom: 0;
		padding: 0 5px;
	}
	label {
		font-size: 1.4em;
		font-weight: 700;
		line-height: 1.25em;
	}
	input, textarea, button {
		outline: none;
		font-size: 1.4em;
		border: 0;
	}
	select {
		display: block;
	}
	input, button {
		@extend %titleFont;
	}
	textarea {
		@extend %bodyFont;
		width: 100%;
		max-width: 100%;
		background: #F6F6F6;
		border-bottom: 1px solid #ccc;
	}
	input.btn {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: $burgundy;
		color: #FFF;
		cursor : pointer;
		font-weight: 400;
		text-transform: uppercase;
		&.btn__small {
			max-width: 150px;
		}
	}
	.form-group {
		margin-bottom: 2em;
		@extend %clearfix;
	}
	.form-group__subtle {
		input {
			margin: 10px 0 0;
			padding: 0;
			width: 100%;
			max-width: 100%;
			border-bottom: 1px solid #d3d3d3;
			&:focus {
				border-bottom: 1px solid #000;
			}
		}
	}
	.combo {
		margin-left: -3em;
		@extend %clearfix;
		.form-group {
			width: 50%;
			@extend %pullLeft;
			padding-left: 3em;
		}
	}
	.links__group {
		margin-left: -3%;
		.links__group__item {
			width: 30.333%;
			margin-left: 3%;
			margin-bottom: 30px;
			@extend %pullLeft;
			&:last-child {
				@extend %pullLeft;
			}
			input {
				display: inline-block;
				width: auto;
				max-width: 87%;
			}
		}
		.fa {
			font-size: 20px;
			margin-right: 10px;
			vertical-align: bottom;
		}
	}
	.options-group {
		input, label {
			width: auto;
			float: none;
		}
		input { margin-left: 5px; }
	}
	.options-group.radios {
		display: inline-block;
		margin-right: 30px;
	}
	.conference-extra-combo {

	}
	.conference-extra__element {
		display: inline-block;
		font-size: 14px;
		label {
			font-size: 14px;
		}
		span {
			margin: 0 5px 0 0;
		}
	}
	.conference-extra {
		background-color: #FFFEFB;
		display: none;
		fieldset, input, textarea {
			background: #FFF;
		}
	}
/* ---------------- End of Common Forms Styles ------------------ */

/*----------------------------------------*\
	Dashboard Page & Admin Pages
\*----------------------------------------*/
	.admin-bar {
		margin-top: 3em;
		margin-bottom: 3em;
		padding: 10px 10px 5px;
		background: #F2F2F2;
		border-radius: 10px;
		@include respond($bp__phab_mid) {
			padding: 10px;
		}
	}
	.admin-bar__list {
		@extend %stripListStyles;
		> li {
			position: relative;
			display: inline-block;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}
		@include respond($bp__phab_min) {
			> li {
				margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		@include respond($bp__mid) {
			> li {
				margin-right: 95px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.active-page > a {
		color: #000;
		font-weight: 700;
	}
	.admin-bar__link {
		font-size: 1.2em;
		color: #404040;
		display: block;
		width: 25px;
		height: 20px;
		overflow: hidden;
		&:hover {
			color: #000;
		}
		.icon {
			font-size: 18px;
			margin-right: 5px;
		}
		@include respond($bp__phab_mid) {
			.icon {
				font-size: 20px;
				margin-right: 10px;
			}
		}
		@include respond($bp__phab_mid) {
			font-size: 1.6em;
			width: auto;
			height: auto;
		}
	}
	.active .admin__dropdown {
		display: block;
	}
	.admin__dropdown {
		display: none;
		position: absolute;
		width: 250px;
		background: #FFF;
		border: 1px solid #e2e2e2;
		left: 0;
		top: 35px;
		padding: 10px 0 15px;
		min-height: 160px;
		&:after,
		&:before {
			content: "";
			position: absolute;
			border: 10px solid rgba(0, 0, 0, 0);
			height: 0;
			width: 0;
		}
		&:before {
			border-bottom: 10px solid #DDD;
			top: -20px;
			left: 3px;
		}
		&:after {
			border-bottom: 10px solid #FFF;
			top: -19px;
			left: 3px;
		}
		a {
			font-size: 1.4em;
			display: block;
			width: 100%;
			padding: 5px 10px;
			color: rgba(0,0,0,0.4);
		}
		.admin__dropdwon_m a {
			border-bottom: 1px solid #e2e2e2;
			padding: 10px 10px;
			color: rgba(0,0,0,0.6);
		}
		li:last-child a {
			padding-bottom: 0;
		}
	}
	.pager {
		@extend %stripListStyles;
		text-align: center;
		margin-top: 1em;
		li {
			display: inline-block;
			margin-left: 10px;
			font-size: 1.25em;
			a {
				color: #777;
				font-size: 1.2em;
				font-family: helvetica;
				font-weight: 700;
				&.active {
					color: $burgundy;
					text-decoration: underline;
				}
			}
		}
	}

	// Dashboard Side Bar Message Form Styles
		#dashboardSendMsgForm {
			margin-bottom: 10px;
			padding-bottom: 20px;
			border-bottom: 1px solid #d2d2d2;
			legend {
				font-weight: 300;
				font-size: 1.2em;
				line-height: 1.35em;
				margin-top: 1em;
				text-transform: uppercase;
			}
			input[type="submit"] {
				width: 100%;
				font-weight: 300;
				@extend %titleFont;
				text-shadow: 0 0 0;
				outline: none;
			}
			input[type="text"], textarea {
				padding: 5px;
				display: block;
				width: 100%;
				border: 0;
				background: #fff;
				margin: 10px 0;
				@include box-shadow(inset 1px 1px 5px -4px #000);
				outline: none;
			}
		}

	// Admin Content List (media & dashboard) Common Styles
		.content-form-header {
			border-bottom: 2px solid #d2d2d2;
			padding: 5px;
			font-weight: 700;
			font-size: 1.5em;
			@extend %clearfix;
			> div {
				@extend %pullLeft;
			}
		}
		.admin-filter {
			margin-bottom: 2em;
			label, select {
				display: inline;
				font-weight: 400;
			}
			label {
				font-size: 1.4em;
				color: #424242;
				margin-right: 10px;
			}
			select {
				font-size: 1.2em;
				background: #e2e2e2;
				border: 0;
				outline: none;
				width: 150px;
			}
		}
		.form-header-title {
			width: 60%;
		}
		.form-header-type,
		.form-header-actions {
			width: 20%;
		}
		.form-header-actions {
			@extend %pullRight;
		}
		.admin-content-form-item {
			padding:1em 0.5em 1em;
			border-bottom: 1px solid #EEE;
			@extend %clearfix;
			&:nth-child(even) {
				background-color: #EEE;
			}
			.content-type {
				@extend %pullLeft;
				width: 20%;
				font-size: 1.4em;
			}
			.content-group {
				@extend %pullLeft;
				width: 60%;
				padding-right: 3em;
			}
			.content-operations {
				@extend %pullRight;
				width: 20%;
				a {
					font-size: 1.4em;
					color: #444;
					text-transform: lowercase;
					text-decoration: underline;
					&:first-child {
						margin-right: 15px;
					}
					&:hover {
						color: #000;
					}
				}
			}
			.content-group__left-col {
				@extend %pullLeft;
				width: 20%;
			}
			.content-group__right-col {
				@extend %pullLeft;
				width: 80%;
				padding-left: 3em;
			}
			.content-title {
				font-size: 1.4em;
				@extend %titleFont;
				line-height: 1.25em;
				a {
					color: $burgundy;
				}
			}
			.content-group__left-col > div {
				display: inline-block;
			}
			.media-type {
				background: #FFF;
				padding:0 10px;
				font-size: 11px;
				display: inline-block;
				border: 1px solid #d2d2d2;
				margin-bottom: 5px;
			}
		}

	// Manage Media/users Specific Styles
		.media-content-list .media-group,
		.users-content-list .user-group {
			@extend %clearfix;
		}
		.media-group strong, .media-group .media-item__title,
		.user-group strong, .user-group .user-item__title {
				font-weight: 700;
		}
		.media-group, .user-group {
			font-size: 1.4em;
			p { font-size: 1em; }
		}

	// Admin create/edit pages & forms
		.admin-page__title {
			font-size: 2em;
			margin-bottom: 1em;
			font-weight: 300;
		}
		.admin-form {
			padding: 4em;
			border: 1px solid #ddd;
			.form-main-btn-wrapper {
				@extend %clearfix;
				.btn { @extend %pullRight; }
			}
			.image-group, .textarea-group, .module {
				label { margin-bottom: 10px; }
				label, input {
					display: block;
					width: 100%;
				}
			}
			.inline-group {
				display: inline-block;
				margin: 0;
				vertical-align: top;
			}
			.module .module__wrapper,
			.form-wrapper-outlined {
				padding: 10px;
				border: 1px dashed #d2d2d2;
			}
			.module {
				position: relative;
				margin-bottom: 2em;
				.form-inner-action-group {
					text-align: right;
				}
				.module-add-btn {
					background: #E2E2E2;
					color: #696969;
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					border: 0;
					padding: 5px 10px;
					outline: 0;
				}
				.module-list {
					margin-top: 2em;
					@extend %stripListStyles;
					li {
						display: inline-block;
						position: relative;
					}
					input {
						border: 0;
					}
				}
				.remove {
					position: absolute;
					top: -13px;
					right: 5px;
					cursor: pointer;
				}
			}
			.module-speakers {
				@extend %grid-wrapper;
				margin-bottom: 0;
				.module__col {
					// @extend %grid-col;
				}
			}
			.module-initiatives-task {
				.form-group {
					margin-bottom: 10px;
				}
				.initiative-limit-group, .module-initiative-tasks-list input {
					width: 10%;
					max-width: 60px;
				}
				.initiative-task-group {
					padding-top: 25px;
				}
				.initiative-task-group, .module-initiative-tasks-list textarea {
					width: 92.25%;
				}
				textarea {
					background-color: #FFF;
				}
			}
			.module-initiative-tasks-list {
				input {
					padding: 5px 0 0;
				}
				li {
					width: 100%;
					margin: 10px 0;
				}
				input, textarea {
					display: inline-block;
					width: auto;
					float: none;
					vertical-align: top;
					border-bottom: 1px solid #d2d2d2;
				}
			}
		}

	// profile edit
		.page__profile__edit {
			background: #EEE;
			.links__group__item {
				width: 100%;
			}
		}
		.user__profile .admin-form {
			input[type="text"], textarea {
				background-color: transparent;
			}
			input[type="text"], textarea {
				float: none;
				font-size: inherit;
			}
			.user__profile__name .form-group {
				input {
					font-weight: 700;
				}
			}
			.profile-avatar-field {
				margin-top: 30px;
			}
			.user__profile__name .form-group,
			.user__profile__location .form-group {
				@extend %pullLeft;
				width: 50%;
				padding: 0 5px;
				input {
					width: 100%;
				}
			}
			.profile__bio textarea {
				font-size: 18px;
			}
		}

	// Account Settings
	#deleteAcc {
		font-size: 1.4em;
		color: $burgundy;
		display: inline-block;
		margin-top: 20px;
		text-decoration:  underline;
	}
/* ---------------- End of Dashboard Page & Admin Pages --------- */

.event-create-notification-msg {
	display: none;
	padding: 1em;
	background: #FFFAEC;
	p {
		font-size: 1.4em;
		font-weight: 700;
		margin-bottom: 10px;
	}
	textarea {
		background-color: #FFF;
	}
	.form-main-btn-wrapper {
		text-align: right;
	}
}


.system-message {
	position: fixed;
	top: 100px;
	z-index: 9;
	left: 0;
	right: 0;
	padding: 1em 0;
	color: #FFF;
	font-weight: 700;
	p {
		font-size: 14px;
	}
	&.success {
		background-color: #57AD68;
		background-color: rgba(87, 173, 104, 0.85);
	}
	&.error {
		background-color: #FA5757;
		background-color: rgba(250, 87, 87, 0.85);
	}
}

.logged-in {
	.system-message {
		top: 148px;
		@media all and (max-width:400px) {
			top: 128px;
		}
		@media all and (max-width:350px) {
			top: 118px;
		}
	}
}
