body, html, .site-container {
	height: 100%;
}
body {
	min-width: 320px;
}
%centered-row {
	min-width: 320px;
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	padding: 0 3em;
	@media all and (max-width: 661px) {
		padding: 0 2em;
	}
}
%grid-wrapper {
	@extend %clearfix;
	margin: 0 0 0 -4em;
	@media all and (max-width: 921px) {
		margin: 0 0 0 -3em;
	}
	@media all and (max-width: 721px) {
		margin: 0;
	}
}
%grid-col {
	@extend %pullLeft;
	padding: 0 0 4em 4em;
	@media all and (max-width: 921px) {
		padding: 0 0 3em 3em;
	}
	@media all and (max-width: 721px) {
		padding: 0;
		width: 100%;
		float: none;
		padding-bottom: 3em;
		&:last-child {
			padding-bottom: 1em;
		}
	}
}
@mixin CreateGridCol($colSize) {
	width: #{$colSize};
	@extend %grid-col;
}

.component-inner{
	@extend %centered-row;
	position: relative;
}
.post__related__bottom {
	@extend %centered-row;
	margin-top: 6em;
}
.main__col {
	width: 100%;
	max-width: 870px;
	&.full {
		max-width: 100%;
	}
}

.page-wrapper {
	min-height: 100%;
	display: block;
	padding-bottom: 8.4em;
	
}
.page-wrapper__inner {
	padding-top: 4em;
	padding-bottom: 6em;
	.noSpace & {
		padding-top: 0;
	}
	.passed-event & {
		padding-bottom: 0;
	}
}
.centered-wrapper {
	@extend %centered-row;
	@extend %clearfix;
	position: relative;
}
.sub-section {
	margin-bottom: 6em;
	&:last-child {
		margin-bottom: 0;
	}
}
// Page Layout with Sidebar
.wSideBar {
	.main__col { 
		float: left;
	}
	.main__col {
	  width: 77%;
	}
	.sidebar__col {
		width: 23%;
	}
	.sidebar__col_left {
		float: left;
	}
	.sidebar__col_right {
		float: right;
	}
	.relevant__content {
		.main__col {
			float: none;
			padding: 0;
			width: 100%;
			margin: 0 auto;
		}
	}
}

.wSideBar__left .main__col {
	padding-left: 6em;
}
.wSideBar__right .main__col {
	padding-right: 6em;
}
.sidebar__block {
	margin-bottom: 4em;
	padding-bottom: 4em;
	border-bottom: 1px solid #D2D2D2;
	&:last-child {
		border-bottom: 0;
	}
}

// Main and Sidebar layout for sharq content pages
.sharq-post__content {
	@extend %clearfix;
	.sharq-post__content__sidebar,
	.sharq-post__content__main {
		float: left;
	}
	.sharq-post__content__sidebar {
		width: 18%;
	}
	.sharq-post__content__main {
		width: 82%;
		padding-left: 4em;
	}
}

// Sub grids inside pages
.divider_two {
	margin-left: -4em;
	.col {
		@extend %pullLeft;
		padding-left: 4em;
		width: 50%;
	}
}

.author__articles__list,
.user__attended-events {
	margin-top: 6em;
}

.post__article .post-top,
.post__paper .post-top{
	height: 50%;
	max-height: 400px;
}
footer {
	@extend %clearfix;
	margin-top: -83px;
}



