%grid-wrapper {
	@extend %clearfix;
	@include respond($bp__tab_mid) {
		margin: 0 0 0 -4em;
	}
	@media all and (max-width: 721px) {
		margin: 0;
	}
}
@mixin CreateGridCol($colSize) {
	@include respond($bp__tab_mid) {
		padding-bottom: 3em;
		width: #{$colSize};
		float: right;
		padding: 0 0 4em 4em;
	}
}
// Page Layout with Sidebar
.wSideBar {
	@include respond($bp__max) {
		.main__col { 
			float: right;
		}
		.sidebar__col_left {
			float: right;
		}
		.sidebar__col_right {
			float: left;
		}
		.relevant__content {
			.main__col {
				float: none;
			}
		}
		&.wSideBar__left .main__col {
			padding-left: 0;
			padding-right: 6em;
		}
		&.wSideBar__right .main__col {
			padding-right: 0;
			padding-left: 6em;
		}
	}
		
}
.profile__content .main__col {
	float: none;
	padding: 0 !important;
}
.sharq-post__content {
	@include respond($bp__mid) {
		.sharq-post__content__sidebar,
		.sharq-post__content__main {
			float: right;
		}
		.sharq-post__content__main {
			padding-right: 4em;
			padding-left: 0;
		}
	}
}
.divider_two {
	margin-right: -4em;
	margin-left: 0;
	.col {
		@extend %pullLeft;
		padding-right: 4em;
		padding-left: 0;
	}
}


