
.icon {
	margin-left: 5px;
	margin-right: 0;
}

.link__w__icon  a {
	padding: 0 25px 0 0;
	text-align: right;
}
/*----------------------------------------------------------*\
	Common Styles/Placeholders/mixins
\*----------------------------------------------------------*/
	/* ----- buttons & links----- */
	%buttonStyle {
		@extend %titleFont;
	}
	.btn {
		@extend %buttonStyle;
	}
	.banner-arrow {
		&.arrow__right {
			@include rotate(135deg);
		}
		&.arrow__left {
			@include rotate(-45deg);
		}
	}
	.section-title {
		line-height: 1.3em;
		font-weight: 700;
		font-size: 2.2em;
		margin-bottom: 20px;
		@include respond($bp__phab_mid) {
			font-size: 2.4em;
		}
		@include respond($bp__mid) {
	  		font-size: 2.8em;
		}
	}
	.block-title {
		font-weight: 300;
		font-size: 1.8em;
		word-spacing: 3px;
		@include respond($bp__phab_mid) {
			font-size: 2em;
		}
		@include respond($bp__mid) {
			font-size: 2.2em;
		}
	}

	%secondaryTitle {
		font-weight: 700;
		height: 100%;
		line-height: 1.65em;
		font-size: 1.6em;
		@include respond($bp__phab_mid) {
			font-size: 1.8em;
		}
		@include respond($bp__mid) {
			font-size: 2em;
		}
	}
	%listingExcerpt {
		font-size: 1.5em;
		font-weight: 400;
		margin-top: 10px;
		line-height: 1.35em;
	}
	.sub-title {
		@extend %secondaryTitle;
	}
	.modal__nav__item {
		left: auto;
		right: auto;
		&.modal__nav__next {
			right: 15px;
			@include rotate(-45deg);
		}
		&.modal__nav__prev {
			left: 15px;
			@include rotate(135deg);
		}
	}
	.closeModal {
		line-height: 1em;
		margin-left: 20px;
		font-size: 2em;
		width: 30px;
		height: 30px;
		float: right;
	}
// 	End Of Common Styles/Placeholders/mixins ----------------


/*----------------------------------------------------------*\
	WEBSITE HEADER
\*----------------------------------------------------------*/
	/* ----- website logo ----- */
	.logo-wrapper {
		@include respond($bp__mm) {
			float: right;
			margin: 0 0 20px;
		}
	}
	/* ----- website main navigation ----- */
	#triggerMobileMenu {
		font-size: 3em;
		line-height: 1em;
		float: right;
		@include respond($bp__mm) {
			float: none;
		}
	}
	.nav__main__item {
		> a {
			font-size: 1.4em;
			font-weight: 700;
		}
		@include respond($bp__mm) {
			float: right;
			padding-right: 0px;
			padding-left: 40px;
			> a {
				font-size: 1.4em;
				padding: 0 0 10px;
			}
			&:last-child {
				padding-right: 0;
				padding-left: 0;
			}
		}

	}
	.parentNavItem {
		@include respond($bp__mm) {
			> a:after {
			  margin: 0 0.5em 0 0;
			}
		}
	}
	.nav__main__dropdown {
		li {
			float: right;
			padding-left: 45px;
			padding-right: 0;
			&:last-child {
				padding-right: 0;
				padding-left: 0;
			}
		}
		a {
			font-size: 1.3em;
			font-weight: 700;
		}
	}

	/* ----- website global navigation ----- */
	.global__nav {
		@extend %pullRight;
		.fa-sign-in {
			font-size: 18px;
		}
		.icon {
			margin-left: 0;
			line-height: 34px;
		}
	}
	.global__nav_item {
		margin-left: 0;
		margin-right: 10px;
		@include respond($bp__mm) {
			margin-right: 10px;
		}
	}
	.global__nav_item > a {
		font-size: 15px;
		line-height: 25px;
		@include respond($bp__mm) {
			font-size: 17px;
		}
	}
	.lang__links {
		border-left: 0;
		border-right: 1px solid #D2D2D2;
		padding-left: 0;
		margin-left: 0;
		padding-right: 11px;
		margin-right: 8px;
		width: 42px;
		@include respond($bp__mm) {
			padding-left: 0;
			margin-left: 0;
			padding-right: 15px;
			margin-right: 12px;
			width: 50px;
		}
	}
	.icon__lang {
		@include sprites-sprite(lang-en);
		height: sprites-sprite-height(lang-en);
		width: sprites-sprite-width(lang-en);
		margin-top: 11px;
	}
	#header-search {
		margin-right: 0;
		&.isActive {
			left: 0;
			right: 0;
			padding: 2em 3em;
		}
		@include respond($bp__phab_mid) {
			&.isActive {
				margin-left: 0;
				margin-right: 10px;
				padding: 0;
				right: auto;
				left: auto;
			}
		}
	}
	.dropdown__inner-link {
		.fa-angle-right {
			margin-right: 5px;
			margin-left: 0;
			&:before {
				content: "";
			}
		}
	}
// 	End Of WEBSITE HEADER -----------------------------------

/*----------------------------------------------------------*\
	Inner Sub-navigation Component Style
\*----------------------------------------------------------*/
	.dropdown-toggle .fa {
		margin-right: 5px;
		margin-left: 0;
	}
	.sub_nav {
		font-family: $titleFont;
		ul.active {
			left: auto;
			right: 0;
			li  a {
				line-height: 1.25em;
				font-size: 13px;
			}
		}
		li {
			font-size: 1.4em;
		}
	}
// 	End Of Inner Sub-navigation Component Style --------------


/*----------------------------------------------------------*\
	SHARE COMPONENT
\*----------------------------------------------------------*/
	.share-component .label {
		font-size: 1.4em;
		font-weight: 700;
		line-height: 21px;
		margin-right: 20px;
	}
	.share-links {
		li {
			margin-left: 2em;
			margin-right: 0;
			&:last-child {
				margin-left: 0;
			}
		}
		a {
			font-size: 2em;
		}
	}
/*----------------------------------------------------------*\
	End of SHARE COMPONENT
\*----------------------------------------------------------*/


/*-----------------------------------------------------------*\
	Horizontal Content Lists Styles
\*-----------------------------------------------------------*/
	.contentGroup__header:after {
		left: auto;
		right: 0;
	}
	.contentGroup-title {
		padding-right: 0;
		padding-left: 5px;
		font-weight: 300;
	}

	.content-list__item .title {
		@extend %secondaryTitle;
	}

	// Main Content Lists
	.content-list__item-excerpt {
		p {
			font-size: 1.4em;
			line-height: 1.5em;

			@include respond($bp__phab_mid) {
				font-size: 1.6em;
			}
			@include respond($bp__mid) {
				font-size: 1.8em;
			}
		}
	}
	@include respond($bp__phab_mid) {
		.wImg {
			.content-list__item-lCol {
				float: right;
				padding-right: 0;
				padding-left: 3em;
			}
			.content-list__item-rCol {
				float: left;
			}
		}
		.content-list .postMeta {
			float: right;
		}
		.content-list__item-tags {
			float: right;
			padding-left: 0;
			padding-right: 20px;
		}
	}
	// Sidebar Content Lists
	.sidebar__content-list {
		@include respond($bp__phab_mid) {
			margin-left: 0;
			margin-right: -3em;
		}
		@include respond($bp__max) {
			margin-right: 0;
		}
	}
	.sidebar__content-list__item {
		.postMeta {
			font-size: 13px;
		}
		&:not(.wImg) {
			@include respond($bp__phab_mid) {
				.section-tag {
					left: auto;
					right: 30px;
				}
			}
			@include respond($bp__max) {
				.section-tag {
					left: auto;
					right: 0;
				}
			}
		}
		@include respond($bp__phab_mid) {
			float: right;
			padding-left: 0;
			padding-right: 3em;
		}
		@include respond($bp__max) {
			float: none;
			padding-right: 0;
		}
	}
	.sidebar__content-list__item h3 {
		font-size: 1.5em;
		font-weight: 700;
	}
/*-----------------------------------------------------------*\
	End Of Horizontal Content Lists Styles
\*-----------------------------------------------------------*/


/*-----------------------------------------------------------*\
	Sharq Section Components Styles
\*-----------------------------------------------------------*/
	.section-tag {
		font-size: 1em;
		font-family: $titleFont;
		@include respond($bp__phab_mid) {
			font-size: 1.2em;
		}
	}
	/* ----- quotes ----- */
	.pull-quote {
		font-size: 1.8em;
		line-height: 1.35em;
		&:before, &:after {
			font-size: 2.2em;
		}
		&:before {
			left: -20px;
			content: "\201C";
		}
		&:after {
			content: "\201D";
			right: -15px;
		}
		@include respond($bp__tab_mid) {
			font-size: 2em;
			float: right;
			margin: 0 0 15px 35px;
			&.left {
				float: left;
				margin: 0 35px 15px 0;
			}
			&:before, &:after {
				font-size: 1.8em;
			}
			&:before {
				left: -20px;
			}
			&:after {
				right: -15px;
			}
		}
		@include respond($bp__max) {
			font-size: 2.2em;
			&:before, &:after {
				font-size: 2.2em;
			}
			&:before {
				left: -30px;
			}
			&:after {
				right: -15px;
			}
		}

	}
	/* ----- posts meta data i.e: author, date...etc. ----- */
	.postMeta {
		font-size: 14px;
		@include respond($bp__phab_mid) {
			font-size: 16px;
		}
		.author-name {
			@extend %titleFont;
			font-size: 12px;
		}
	}

	.postMeta__l {
		padding-right: 0;
		padding-left: 10px;
	}
	.blog-post header,
	.sharq-post{
		.postMeta {
			padding:0 0 20px;
		}
		.postMeta__l,
		.postMeta__r {
			padding: 0;
		}
	}
	/* ----- Sharq Single Inner ----- */
	%form-element {
		font-size: 1.4em;
		margin: 0 0 10px 0;
	}
/*-----------------------------------------------------------*\
	End Of Sharq Section Components Styles
\*-----------------------------------------------------------*/


/*-----------------------------------------------------------*\
	Comments component
\*-----------------------------------------------------------*/
	.comments {
		padding: 3em 0 6em;
		textarea {
			font-family: $bodyFont;
			font-size: 2em;
		}
		@media all and (max-width: 660px) {
			textarea {
				font-size: 2em;
			}
			.comment-item {
				.comment-user {
					font-size: 1.4em;
				}
				.comment-body {
					font-size: 1.4em;
				}
			}
		}
		@media all and (max-width: 350px) {
			textarea {
				font-size: 1.6em;
				padding: 5px 0px;
			}
		}
	}
	.comments-anonymous {
		a {
			margin-right: 5px;
		}
	}
	.btn__post-comment {
		margin: 0;
		@media all and (max-width: 350px) {
			padding: 10px;
		}
	}
	.comment-user {
		font-size: 1.4em;
		a {
			font-weight: 700;
		}
	}
	.comment-body {
		font-family: $bodyFont;
		font-size: 1.6em;
	}
	.comment-avatar {
		right: 1em;
		left: auto
	}
	.comment-item__right {
		padding: 2px 75px 10px 10px;
	}
/*-----------------------------------------------------------*\
	End Of Comments component
\*-----------------------------------------------------------*/


// popular tags
#tags {
	a {
		margin: 0 0 10px 10px;
		font-size: 1.2em;
		padding: 7px 10px;
	}
	&.content-list__item-tags {
		a {
			margin: 0 0 5px 5px;
			padding: 2px 5px;
			font-size: 1.1em;
		}
	}
	@include respond($bp__phab_mid) {
		&.content-list__item-tags {
			text-align: right;
			a {
				margin: 0 0 5px 5px;
				padding: 2px 5px;
				font-size: 1.1em;
			}
		}
	}
}

// expert card
#expert-card {
	.expert-name {
		font-size: 2em;
		font-weight: 700;
		line-height: 1em;
	}
	p {
	  	font-size: 1.5em;
		line-height: 1.35;
	}
	a {
		font-size: 1.4em;
		border-bottom: 1px dotted;
		margin-left: 3px;
		font-weight: 700;
	}
}

.expert-card__l {
	float: right;
	padding-left: 10px;
	padding-right: 0;
}
/*-----------------------------------------------------------*\
	FOOTER
\*-----------------------------------------------------------*/
	/* ----- copyrights----- */
	.cr {
		font-weight: 700;
		font-size: 1.3em;
		@media all and (max-width: 531px) {
			font-size: 1.2em;
		}
	}

	/* ----- footer fb/twitter/youtube...etc.----- */
	.social-nav {
		li {
			font-size: 2.2em;
			margin: 0 25px 0 0;
			font-weight: 700;
		}
		@include respond($bp__mid) {
			float: left;
		}
	}

	/* ----- footer navigation----- */
	.footer-nav {
		li {
			margin-left: 20px;
			margin-right: 0px;
			font-weight: 700;
			font-size: 1.1em;
			&:last-child {
				margin-left: 0;
			}
		}
		@include respond($bp__phab_mid) {
			li {
				margin-left: 5em;
				margin-right: 0;
				font-size: 1.2em;
			}
		}
		@include respond($bp__mid) {
			float: right;
			li {
				font-size: 1.4em;
			}
		}
	}
	.nav__main_footer_item {
		padding-left: 3em;
		padding-right: 0;
		&:last-child {
			padding-left: 0;
		}
		> a {
			font-size: 1.2em;
		}
		@include respond($bp__phab_min) {
			> a {
				font-size: 1.3em;
			}
			padding-left: 5em;
			padding-right: 0;
		}
		@include respond($bp__mid) {
			> a {
				font-size: 1.6em;
			}
		}
	}
	.nav__main_footer_item_child a {
		font-size: 1.2em;
	}
// End Of FOOTER ---------------------------------------------


/*-----------------------------------------------------------*\
	Notifications Center
\*-----------------------------------------------------------*/
	.notifications-center__nav {
		margin-bottom: 2.25em;
		li {
			margin-right: 2em;
			font-size: 1.2em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.notifications-center__content-list {
		font-size: 1.6em;
		> li {
			position: relative;
			line-height: 1.25em;
			padding: 0 30px 20px 0;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
			p {
				font-size: 1em;
			}
			a:after {
				right: -20px;
				content: "\2192";
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		.deleteNotification {
			right: 0;
		}
		.notification__message {
			.username {
				font-weight: 700;
			}
			.notification__message__left {
				@extend %pullLeft;
				padding-right: 1em;
			}
			.notification__message__right {
				float: left;
			}
		}
		.notification__event-details li {
			font-size: 0.875em;
			margin-right: 2.14285714285714em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
// End Of Notifications Center --------------------------------
