.is-navOpen {
	.user-nav__navList {
		width: 200px;
	}
}

.is-Fixed {
	.yolo .logo-wrapper {
		height: 97px;
	}
	.header-controls {
		height: 0;
		overflow: hidden;
	}
	.post__inner-nav {
	    right: 0;
	    left: auto;
	    @media all and (max-width: 750px) {
			li {
				&.register-btn { 
					right: 0;
					left: auto;
				}
			}
		}
	}
}

@media all and (min-width: 661px) {
	.main-col__paper {
		padding-right: 180px;
		padding-left: 0;
	}
}


@media all and (max-width: 721px) {
	.dashboard-left {
		right: -27em;
		left: auto;
	}
	.page__inner-wrapper > .full-col {
		right: 0;
		height: 100%;
	}
}

.is-dashboardMenu-mobile-active {
	&.pushed {
		.page__inner-wrapper {
			> .full-col {
				right: 30em;
				left: 0;
				.expandDashboardBar {
					&:after {
						border-left-width: 0;
						border-right-color: #fff;
						border-right-width: 9px;
						margin-left: 9px;
					}
				}
			}
		}
	}
}

