@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");
@font-face {
  font-family: "Badiya LT W20 Bold";
  src: url("../fonts/badya/6916aa1b-15fa-4f2a-95c2-9050445fb081.eot?#iefix");
  src: url("../fonts/badya/6916aa1b-15fa-4f2a-95c2-9050445fb081.eot?#iefix") format("eot"), url("../fonts/badya/6a9a554c-c542-4037-9a52-1d49a970dc9c.woff") format("woff"), url("../fonts/badya/caf902de-2cc6-4fd4-97fa-612da8df47ea.ttf") format("truetype"), url("../fonts/badya/8d7fc603-9841-4dba-bfd5-8da4ed775ab9.svg#8d7fc603-9841-4dba-bfd5-8da4ed775ab9") format("svg");
}
@font-face {
  font-family: "Badiya LT W20 Regular";
  src: url("../fonts/badya/9f912a49-1b28-4c88-83c5-2865a79f0f53.eot?#iefix");
  src: url("../fonts/badya/9f912a49-1b28-4c88-83c5-2865a79f0f53.eot?#iefix") format("eot"), url("../fonts/badya/45416e30-be50-4bbe-b5b1-1945261bca89.woff") format("woff"), url("../fonts/badya/0ff5726c-0bdd-4e6a-b3a2-58626f11cab9.ttf") format("truetype"), url("../fonts/badya/a7b4f780-32f1-430b-bc2c-222bc67f8dab.svg#a7b4f780-32f1-430b-bc2c-222bc67f8dab") format("svg");
}
/* line 384, sprites/*.png */
.sprites-sprite, .icon__lang {
  background-image: url('../images/sprites-s46b3eab0c4.png');
  background-repeat: no-repeat;
}

/* $burgundy : #d32028; */
/* line 26, ../sass/_util.scss */
.admin-form .module-speakers, .home-list.content-list, .event__people_list, .multimedia-list, .alsharq-team__list {
  *zoom: 1;
}
/* line 28, ../sass/_util.scss */
.admin-form .module-speakers:before, .home-list.content-list:before, .event__people_list:before, .multimedia-list:before, .alsharq-team__list:before, .admin-form .module-speakers:after, .home-list.content-list:after, .event__people_list:after, .multimedia-list:after, .alsharq-team__list:after {
  content: " ";
  display: table;
}
/* line 33, ../sass/_util.scss */
.admin-form .module-speakers:after, .home-list.content-list:after, .event__people_list:after, .multimedia-list:after, .alsharq-team__list:after {
  clear: both;
}

/* line 39, ../sass/_util.scss */
.nav ul li {
  list-style: none;
}

/* line 50, ../sass/_util.scss */
.admin-nav__dropdown .msg__item_right:before, .conversations .message__right .message__inner:before {
  content: "";
  display: inline-block;
  border: solid transparent;
  height: 0;
  width: 0;
}

/*--------------------*\
	Base Styles
\*--------------------*/
/* line 28, ../sass/_base-rtl.scss */
.divider_two .col, .notifications-center__content-list .notification__message .notification__message__left, .admin-nav__dropdown .msg__item_left,
.admin-nav__dropdown .msg__item_right, .conversations .message__right, .combo .form-group, .links__group .links__group__item, .links__group .links__group__item:last-child, .content-form-header > div, .admin-content-form-item .content-type, .admin-content-form-item .content-group, .admin-content-form-item .content-group__left-col, .admin-content-form-item .content-group__right-col, .user__profile .admin-form .user__profile__name .form-group,
.user__profile .admin-form .user__profile__location .form-group, .album-list li, .initiative .post-top header,
.discussion .post-top header, .login__register__form__wrapper .floated, .login__register__form .form__col {
  float: right;
}

/* line 32, ../sass/_base-rtl.scss */
.global__nav, .message-sent .message__left,
.message-sent .message__right, .form-header-actions, .admin-content-form-item .content-operations, .admin-form .form-main-btn-wrapper .btn, .initiative .post-top .moudle__initiative__vote,
.discussion .post-top .moudle__initiative__vote {
  float: left;
}

/* line 41, ../sass/_base-rtl.scss */
html, .post-content .title, textarea {
  font-family: "Badiya LT W20 Regular";
}

/* line 45, ../sass/_base-rtl.scss */
.nav, h1, h2, h3, h4, h5, .btn, .postMeta .author-name, input, button, .admin-content-form-item .content-title, .event__dNp_item, .events__item__date, .related-media__list li.related__media__list__link a, .slide-title, .login__register__form .st, .member-name {
  font-family: "Droid Arabic Kufi";
  font-weight: 700;
}

/* line 66, ../sass/_base-rtl.scss */
.main-title {
  font-size: 2.2em;
}
@media all and (min-width: 420px) {
  /* line 66, ../sass/_base-rtl.scss */
  .main-title {
    font-size: 2.8em;
  }
}
@media all and (min-width: 720px) {
  /* line 66, ../sass/_base-rtl.scss */
  .main-title {
    font-size: 3.2em;
  }
}
@media all and (min-width: 1180px) {
  /* line 66, ../sass/_base-rtl.scss */
  .main-title {
    font-size: 4.2em;
  }
}

/* line 79, ../sass/_base-rtl.scss */
.post__content__body ol, .post__content__body ul,
.content__body ol,
.content__body ul, p {
  font-size: 1.6em;
}
@media all and (max-width: 721px) {
  /* line 79, ../sass/_base-rtl.scss */
  .post__content__body ol, .post__content__body ul,
  .content__body ol,
  .content__body ul, p {
    font-size: 1.6em;
  }
}
@media all and (max-width: 440px) {
  /* line 79, ../sass/_base-rtl.scss */
  .post__content__body ol, .post__content__body ul,
  .content__body ol,
  .content__body ul, p {
    font-size: 1.4em;
  }
}
@media all and (max-width: 350px) {
  /* line 79, ../sass/_base-rtl.scss */
  .post__content__body ol, .post__content__body ul,
  .content__body ol,
  .content__body ul, p {
    font-size: 1.3em;
  }
}

/* line 98, ../sass/_base-rtl.scss */
html {
  font-size: 62.5%;
}

/* line 102, ../sass/_base-rtl.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 111, ../sass/_base-rtl.scss */
.main-title {
  line-height: 1.65em;
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 119, ../sass/_base-rtl.scss */
.post__content__body ol, .post__content__body ul,
.content__body ol,
.content__body ul {
  line-height: 1.5em;
}

/* line 124, ../sass/_base-rtl.scss */
p {
  margin-bottom: 2em;
  line-height: 1.5em;
}
/* line 128, ../sass/_base-rtl.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 132, ../sass/_base-rtl.scss */
i {
  font-style: normal;
}

/* line 135, ../sass/_base-rtl.scss */
em {
  font-weight: 700;
}

/* line 139, ../sass/_base-rtl.scss */
.post-content .title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

/*--------------------*\
	Partials
\*--------------------*/
@media all and (min-width: 720px) {
  /* line 1, ../sass/_layout-rtl.scss */
  .admin-form .module-speakers, .home-list.content-list, .event__people_list, .multimedia-list, .alsharq-team__list {
    margin: 0 0 0 -4em;
  }
}
@media all and (max-width: 721px) {
  /* line 1, ../sass/_layout-rtl.scss */
  .admin-form .module-speakers, .home-list.content-list, .event__people_list, .multimedia-list, .alsharq-team__list {
    margin: 0;
  }
}

@media all and (min-width: 1180px) {
  /* line 32, ../sass/_layout-rtl.scss */
  .wSideBar .main__col {
    float: right;
  }
  /* line 35, ../sass/_layout-rtl.scss */
  .wSideBar .sidebar__col_left {
    float: right;
  }
  /* line 38, ../sass/_layout-rtl.scss */
  .wSideBar .sidebar__col_right {
    float: left;
  }
  /* line 42, ../sass/_layout-rtl.scss */
  .wSideBar .relevant__content .main__col {
    float: none;
  }
  /* line 46, ../sass/_layout-rtl.scss */
  .wSideBar.wSideBar__left .main__col {
    padding-left: 0;
    padding-right: 6em;
  }
  /* line 50, ../sass/_layout-rtl.scss */
  .wSideBar.wSideBar__right .main__col {
    padding-right: 0;
    padding-left: 6em;
  }
}

/* line 57, ../sass/_layout-rtl.scss */
.profile__content .main__col {
  float: none;
  padding: 0 !important;
}

@media all and (min-width: 920px) {
  /* line 63, ../sass/_layout-rtl.scss */
  .sharq-post__content .sharq-post__content__sidebar,
  .sharq-post__content .sharq-post__content__main {
    float: right;
  }
  /* line 67, ../sass/_layout-rtl.scss */
  .sharq-post__content .sharq-post__content__main {
    padding-right: 4em;
    padding-left: 0;
  }
}

/* line 73, ../sass/_layout-rtl.scss */
.divider_two {
  margin-right: -4em;
  margin-left: 0;
}
/* line 76, ../sass/_layout-rtl.scss */
.divider_two .col {
  padding-right: 4em;
  padding-left: 0;
}

/* line 2, ../sass/_modules-rtl.scss */
.icon {
  margin-left: 5px;
  margin-right: 0;
}

/* line 7, ../sass/_modules-rtl.scss */
.link__w__icon a {
  padding: 0 25px 0 0;
  text-align: right;
}

/*----------------------------------------------------------*\
	Common Styles/Placeholders/mixins
\*----------------------------------------------------------*/
/* ----- buttons & links----- */
/* line 22, ../sass/_modules-rtl.scss */
.banner-arrow.arrow__right {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 25, ../sass/_modules-rtl.scss */
.banner-arrow.arrow__left {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 29, ../sass/_modules-rtl.scss */
.section-title {
  line-height: 1.3em;
  font-weight: 700;
  font-size: 2.2em;
  margin-bottom: 20px;
}
@media all and (min-width: 620px) {
  /* line 29, ../sass/_modules-rtl.scss */
  .section-title {
    font-size: 2.4em;
  }
}
@media all and (min-width: 920px) {
  /* line 29, ../sass/_modules-rtl.scss */
  .section-title {
    font-size: 2.8em;
  }
}

/* line 41, ../sass/_modules-rtl.scss */
.block-title {
  font-weight: 300;
  font-size: 1.8em;
  word-spacing: 3px;
}
@media all and (min-width: 620px) {
  /* line 41, ../sass/_modules-rtl.scss */
  .block-title {
    font-size: 2em;
  }
}
@media all and (min-width: 920px) {
  /* line 41, ../sass/_modules-rtl.scss */
  .block-title {
    font-size: 2.2em;
  }
}

/* line 53, ../sass/_modules-rtl.scss */
.sub-title, .content-list__item .title {
  font-weight: 700;
  height: 100%;
  line-height: 1.65em;
  font-size: 1.6em;
}
@media all and (min-width: 620px) {
  /* line 53, ../sass/_modules-rtl.scss */
  .sub-title, .content-list__item .title {
    font-size: 1.8em;
  }
}
@media all and (min-width: 920px) {
  /* line 53, ../sass/_modules-rtl.scss */
  .sub-title, .content-list__item .title {
    font-size: 2em;
  }
}

/* line 74, ../sass/_modules-rtl.scss */
.modal__nav__item {
  left: auto;
  right: auto;
}
/* line 77, ../sass/_modules-rtl.scss */
.modal__nav__item.modal__nav__next {
  right: 15px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 81, ../sass/_modules-rtl.scss */
.modal__nav__item.modal__nav__prev {
  left: 15px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 86, ../sass/_modules-rtl.scss */
.closeModal {
  line-height: 1em;
  margin-left: 20px;
  font-size: 2em;
  width: 30px;
  height: 30px;
  float: right;
}

/*----------------------------------------------------------*\
	WEBSITE HEADER
\*----------------------------------------------------------*/
/* ----- website logo ----- */
@media all and (min-width: 720px) {
  /* line 101, ../sass/_modules-rtl.scss */
  .logo-wrapper {
    float: right;
    margin: 0 0 20px;
  }
}

/* ----- website main navigation ----- */
/* line 108, ../sass/_modules-rtl.scss */
#triggerMobileMenu {
  font-size: 3em;
  line-height: 1em;
  float: right;
}
@media all and (min-width: 720px) {
  /* line 108, ../sass/_modules-rtl.scss */
  #triggerMobileMenu {
    float: none;
  }
}

/* line 117, ../sass/_modules-rtl.scss */
.nav__main__item > a {
  font-size: 1.4em;
  font-weight: 700;
}
@media all and (min-width: 720px) {
  /* line 116, ../sass/_modules-rtl.scss */
  .nav__main__item {
    float: right;
    padding-right: 0px;
    padding-left: 40px;
  }
  /* line 125, ../sass/_modules-rtl.scss */
  .nav__main__item > a {
    font-size: 1.4em;
    padding: 0 0 10px;
  }
  /* line 129, ../sass/_modules-rtl.scss */
  .nav__main__item:last-child {
    padding-right: 0;
    padding-left: 0;
  }
}

@media all and (min-width: 720px) {
  /* line 138, ../sass/_modules-rtl.scss */
  .parentNavItem > a:after {
    margin: 0 0.5em 0 0;
  }
}

/* line 144, ../sass/_modules-rtl.scss */
.nav__main__dropdown li {
  float: right;
  padding-left: 45px;
  padding-right: 0;
}
/* line 148, ../sass/_modules-rtl.scss */
.nav__main__dropdown li:last-child {
  padding-right: 0;
  padding-left: 0;
}
/* line 153, ../sass/_modules-rtl.scss */
.nav__main__dropdown a {
  font-size: 1.3em;
  font-weight: 700;
}

/* ----- website global navigation ----- */
/* line 162, ../sass/_modules-rtl.scss */
.global__nav .fa-sign-in {
  font-size: 18px;
}
/* line 165, ../sass/_modules-rtl.scss */
.global__nav .icon {
  margin-left: 0;
  line-height: 34px;
}

/* line 170, ../sass/_modules-rtl.scss */
.global__nav_item {
  margin-left: 0;
  margin-right: 10px;
}
@media all and (min-width: 720px) {
  /* line 170, ../sass/_modules-rtl.scss */
  .global__nav_item {
    margin-right: 10px;
  }
}

/* line 177, ../sass/_modules-rtl.scss */
.global__nav_item > a {
  font-size: 15px;
  line-height: 25px;
}
@media all and (min-width: 720px) {
  /* line 177, ../sass/_modules-rtl.scss */
  .global__nav_item > a {
    font-size: 17px;
  }
}

/* line 184, ../sass/_modules-rtl.scss */
.lang__links {
  border-left: 0;
  border-right: 1px solid #D2D2D2;
  padding-left: 0;
  margin-left: 0;
  padding-right: 11px;
  margin-right: 8px;
  width: 42px;
}
@media all and (min-width: 720px) {
  /* line 184, ../sass/_modules-rtl.scss */
  .lang__links {
    padding-left: 0;
    margin-left: 0;
    padding-right: 15px;
    margin-right: 12px;
    width: 50px;
  }
}

/* line 200, ../sass/_modules-rtl.scss */
.icon__lang {
  background-position: 0 -339px;
  height: 11px;
  width: 16px;
  margin-top: 11px;
}

/* line 206, ../sass/_modules-rtl.scss */
#header-search {
  margin-right: 0;
}
/* line 208, ../sass/_modules-rtl.scss */
#header-search.isActive {
  left: 0;
  right: 0;
  padding: 2em 3em;
}
@media all and (min-width: 620px) {
  /* line 214, ../sass/_modules-rtl.scss */
  #header-search.isActive {
    margin-left: 0;
    margin-right: 10px;
    padding: 0;
    right: auto;
    left: auto;
  }
}

/* line 224, ../sass/_modules-rtl.scss */
.dropdown__inner-link .fa-angle-right {
  margin-right: 5px;
  margin-left: 0;
}
/* line 227, ../sass/_modules-rtl.scss */
.dropdown__inner-link .fa-angle-right:before {
  content: "";
}

/*----------------------------------------------------------*\
	Inner Sub-navigation Component Style
\*----------------------------------------------------------*/
/* line 237, ../sass/_modules-rtl.scss */
.dropdown-toggle .fa {
  margin-right: 5px;
  margin-left: 0;
}

/* line 241, ../sass/_modules-rtl.scss */
.sub_nav {
  font-family: "Droid Arabic Kufi";
}
/* line 243, ../sass/_modules-rtl.scss */
.sub_nav ul.active {
  left: auto;
  right: 0;
}
/* line 246, ../sass/_modules-rtl.scss */
.sub_nav ul.active li a {
  line-height: 1.25em;
  font-size: 13px;
}
/* line 251, ../sass/_modules-rtl.scss */
.sub_nav li {
  font-size: 1.4em;
}

/*----------------------------------------------------------*\
	SHARE COMPONENT
\*----------------------------------------------------------*/
/* line 261, ../sass/_modules-rtl.scss */
.share-component .label {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 21px;
  margin-right: 20px;
}

/* line 268, ../sass/_modules-rtl.scss */
.share-links li {
  margin-left: 2em;
  margin-right: 0;
}
/* line 271, ../sass/_modules-rtl.scss */
.share-links li:last-child {
  margin-left: 0;
}
/* line 275, ../sass/_modules-rtl.scss */
.share-links a {
  font-size: 2em;
}

/*----------------------------------------------------------*\
	End of SHARE COMPONENT
\*----------------------------------------------------------*/
/*-----------------------------------------------------------*\
	Horizontal Content Lists Styles
\*-----------------------------------------------------------*/
/* line 287, ../sass/_modules-rtl.scss */
.contentGroup__header:after {
  left: auto;
  right: 0;
}

/* line 291, ../sass/_modules-rtl.scss */
.contentGroup-title {
  padding-right: 0;
  padding-left: 5px;
  font-weight: 300;
}

/* line 303, ../sass/_modules-rtl.scss */
.content-list__item-excerpt p {
  font-size: 1.4em;
  line-height: 1.5em;
}
@media all and (min-width: 620px) {
  /* line 303, ../sass/_modules-rtl.scss */
  .content-list__item-excerpt p {
    font-size: 1.6em;
  }
}
@media all and (min-width: 920px) {
  /* line 303, ../sass/_modules-rtl.scss */
  .content-list__item-excerpt p {
    font-size: 1.8em;
  }
}

@media all and (min-width: 620px) {
  /* line 317, ../sass/_modules-rtl.scss */
  .wImg .content-list__item-lCol {
    float: right;
    padding-right: 0;
    padding-left: 3em;
  }
  /* line 322, ../sass/_modules-rtl.scss */
  .wImg .content-list__item-rCol {
    float: left;
  }

  /* line 326, ../sass/_modules-rtl.scss */
  .content-list .postMeta {
    float: right;
  }

  /* line 329, ../sass/_modules-rtl.scss */
  .content-list__item-tags {
    float: right;
    padding-left: 0;
    padding-right: 20px;
  }
}
@media all and (min-width: 620px) {
  /* line 336, ../sass/_modules-rtl.scss */
  .sidebar__content-list {
    margin-left: 0;
    margin-right: -3em;
  }
}
@media all and (min-width: 1180px) {
  /* line 336, ../sass/_modules-rtl.scss */
  .sidebar__content-list {
    margin-right: 0;
  }
}

/* line 346, ../sass/_modules-rtl.scss */
.sidebar__content-list__item .postMeta {
  font-size: 13px;
}
@media all and (min-width: 620px) {
  /* line 351, ../sass/_modules-rtl.scss */
  .sidebar__content-list__item:not(.wImg) .section-tag {
    left: auto;
    right: 30px;
  }
}
@media all and (min-width: 1180px) {
  /* line 357, ../sass/_modules-rtl.scss */
  .sidebar__content-list__item:not(.wImg) .section-tag {
    left: auto;
    right: 0;
  }
}
@media all and (min-width: 620px) {
  /* line 345, ../sass/_modules-rtl.scss */
  .sidebar__content-list__item {
    float: right;
    padding-left: 0;
    padding-right: 3em;
  }
}
@media all and (min-width: 1180px) {
  /* line 345, ../sass/_modules-rtl.scss */
  .sidebar__content-list__item {
    float: none;
    padding-right: 0;
  }
}

/* line 373, ../sass/_modules-rtl.scss */
.sidebar__content-list__item h3 {
  font-size: 1.5em;
  font-weight: 700;
}

/*-----------------------------------------------------------*\
	End Of Horizontal Content Lists Styles
\*-----------------------------------------------------------*/
/*-----------------------------------------------------------*\
	Sharq Section Components Styles
\*-----------------------------------------------------------*/
/* line 385, ../sass/_modules-rtl.scss */
.section-tag {
  font-size: 1em;
  font-family: "Droid Arabic Kufi";
}
@media all and (min-width: 620px) {
  /* line 385, ../sass/_modules-rtl.scss */
  .section-tag {
    font-size: 1.2em;
  }
}

/* ----- quotes ----- */
/* line 393, ../sass/_modules-rtl.scss */
.pull-quote {
  font-size: 1.8em;
  line-height: 1.35em;
}
/* line 396, ../sass/_modules-rtl.scss */
.pull-quote:before, .pull-quote:after {
  font-size: 2.2em;
}
/* line 399, ../sass/_modules-rtl.scss */
.pull-quote:before {
  left: -20px;
  content: "\201C";
}
/* line 403, ../sass/_modules-rtl.scss */
.pull-quote:after {
  content: "\201D";
  right: -15px;
}
@media all and (min-width: 720px) {
  /* line 393, ../sass/_modules-rtl.scss */
  .pull-quote {
    font-size: 2em;
    float: right;
    margin: 0 0 15px 35px;
  }
  /* line 411, ../sass/_modules-rtl.scss */
  .pull-quote.left {
    float: left;
    margin: 0 35px 15px 0;
  }
  /* line 415, ../sass/_modules-rtl.scss */
  .pull-quote:before, .pull-quote:after {
    font-size: 1.8em;
  }
  /* line 418, ../sass/_modules-rtl.scss */
  .pull-quote:before {
    left: -20px;
  }
  /* line 421, ../sass/_modules-rtl.scss */
  .pull-quote:after {
    right: -15px;
  }
}
@media all and (min-width: 1180px) {
  /* line 393, ../sass/_modules-rtl.scss */
  .pull-quote {
    font-size: 2.2em;
  }
  /* line 427, ../sass/_modules-rtl.scss */
  .pull-quote:before, .pull-quote:after {
    font-size: 2.2em;
  }
  /* line 430, ../sass/_modules-rtl.scss */
  .pull-quote:before {
    left: -30px;
  }
  /* line 433, ../sass/_modules-rtl.scss */
  .pull-quote:after {
    right: -15px;
  }
}

/* ----- posts meta data i.e: author, date...etc. ----- */
/* line 440, ../sass/_modules-rtl.scss */
.postMeta {
  font-size: 14px;
}
@media all and (min-width: 620px) {
  /* line 440, ../sass/_modules-rtl.scss */
  .postMeta {
    font-size: 16px;
  }
}
/* line 445, ../sass/_modules-rtl.scss */
.postMeta .author-name {
  font-size: 12px;
}

/* line 451, ../sass/_modules-rtl.scss */
.postMeta__l {
  padding-right: 0;
  padding-left: 10px;
}

/* line 457, ../sass/_modules-rtl.scss */
.blog-post header .postMeta,
.sharq-post .postMeta {
  padding: 0 0 20px;
}
/* line 460, ../sass/_modules-rtl.scss */
.blog-post header .postMeta__l,
.blog-post header .postMeta__r,
.sharq-post .postMeta__l,
.sharq-post .postMeta__r {
  padding: 0;
}

/* ----- Sharq Single Inner ----- */
/*-----------------------------------------------------------*\
	End Of Sharq Section Components Styles
\*-----------------------------------------------------------*/
/*-----------------------------------------------------------*\
	Comments component
\*-----------------------------------------------------------*/
/* line 478, ../sass/_modules-rtl.scss */
.comments {
  padding: 3em 0 6em;
}
/* line 480, ../sass/_modules-rtl.scss */
.comments textarea {
  font-family: "Badiya LT W20 Regular";
  font-size: 2em;
}
@media all and (max-width: 660px) {
  /* line 485, ../sass/_modules-rtl.scss */
  .comments textarea {
    font-size: 2em;
  }
  /* line 489, ../sass/_modules-rtl.scss */
  .comments .comment-item .comment-user {
    font-size: 1.4em;
  }
  /* line 492, ../sass/_modules-rtl.scss */
  .comments .comment-item .comment-body {
    font-size: 1.4em;
  }
}
@media all and (max-width: 350px) {
  /* line 498, ../sass/_modules-rtl.scss */
  .comments textarea {
    font-size: 1.6em;
    padding: 5px 0px;
  }
}

/* line 505, ../sass/_modules-rtl.scss */
.comments-anonymous a {
  margin-right: 5px;
}

/* line 509, ../sass/_modules-rtl.scss */
.btn__post-comment {
  margin: 0;
}
@media all and (max-width: 350px) {
  /* line 509, ../sass/_modules-rtl.scss */
  .btn__post-comment {
    padding: 10px;
  }
}

/* line 515, ../sass/_modules-rtl.scss */
.comment-user {
  font-size: 1.4em;
}
/* line 517, ../sass/_modules-rtl.scss */
.comment-user a {
  font-weight: 700;
}

/* line 521, ../sass/_modules-rtl.scss */
.comment-body {
  font-family: "Badiya LT W20 Regular";
  font-size: 1.6em;
}

/* line 525, ../sass/_modules-rtl.scss */
.comment-avatar {
  right: 1em;
  left: auto;
}

/* line 529, ../sass/_modules-rtl.scss */
.comment-item__right {
  padding: 2px 75px 10px 10px;
}

/*-----------------------------------------------------------*\
	End Of Comments component
\*-----------------------------------------------------------*/
/* line 539, ../sass/_modules-rtl.scss */
#tags a {
  margin: 0 0 10px 10px;
  font-size: 1.2em;
  padding: 7px 10px;
}
/* line 545, ../sass/_modules-rtl.scss */
#tags.content-list__item-tags a {
  margin: 0 0 5px 5px;
  padding: 2px 5px;
  font-size: 1.1em;
}
@media all and (min-width: 620px) {
  /* line 552, ../sass/_modules-rtl.scss */
  #tags.content-list__item-tags {
    text-align: right;
  }
  /* line 554, ../sass/_modules-rtl.scss */
  #tags.content-list__item-tags a {
    margin: 0 0 5px 5px;
    padding: 2px 5px;
    font-size: 1.1em;
  }
}

/* line 565, ../sass/_modules-rtl.scss */
#expert-card .expert-name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}
/* line 570, ../sass/_modules-rtl.scss */
#expert-card p {
  font-size: 1.5em;
  line-height: 1.35;
}
/* line 574, ../sass/_modules-rtl.scss */
#expert-card a {
  font-size: 1.4em;
  border-bottom: 1px dotted;
  margin-left: 3px;
  font-weight: 700;
}

/* line 582, ../sass/_modules-rtl.scss */
.expert-card__l {
  float: right;
  padding-left: 10px;
  padding-right: 0;
}

/*-----------------------------------------------------------*\
	FOOTER
\*-----------------------------------------------------------*/
/* ----- copyrights----- */
/* line 591, ../sass/_modules-rtl.scss */
.cr {
  font-weight: 700;
  font-size: 1.3em;
}
@media all and (max-width: 531px) {
  /* line 591, ../sass/_modules-rtl.scss */
  .cr {
    font-size: 1.2em;
  }
}

/* ----- footer fb/twitter/youtube...etc.----- */
/* line 601, ../sass/_modules-rtl.scss */
.social-nav li {
  font-size: 2.2em;
  margin: 0 25px 0 0;
  font-weight: 700;
}
@media all and (min-width: 920px) {
  /* line 600, ../sass/_modules-rtl.scss */
  .social-nav {
    float: left;
  }
}

/* ----- footer navigation----- */
/* line 613, ../sass/_modules-rtl.scss */
.footer-nav li {
  margin-left: 20px;
  margin-right: 0px;
  font-weight: 700;
  font-size: 1.1em;
}
/* line 618, ../sass/_modules-rtl.scss */
.footer-nav li:last-child {
  margin-left: 0;
}
@media all and (min-width: 620px) {
  /* line 623, ../sass/_modules-rtl.scss */
  .footer-nav li {
    margin-left: 5em;
    margin-right: 0;
    font-size: 1.2em;
  }
}
@media all and (min-width: 920px) {
  /* line 612, ../sass/_modules-rtl.scss */
  .footer-nav {
    float: right;
  }
  /* line 631, ../sass/_modules-rtl.scss */
  .footer-nav li {
    font-size: 1.4em;
  }
}

/* line 636, ../sass/_modules-rtl.scss */
.nav__main_footer_item {
  padding-left: 3em;
  padding-right: 0;
}
/* line 639, ../sass/_modules-rtl.scss */
.nav__main_footer_item:last-child {
  padding-left: 0;
}
/* line 642, ../sass/_modules-rtl.scss */
.nav__main_footer_item > a {
  font-size: 1.2em;
}
@media all and (min-width: 420px) {
  /* line 636, ../sass/_modules-rtl.scss */
  .nav__main_footer_item {
    padding-left: 5em;
    padding-right: 0;
  }
  /* line 646, ../sass/_modules-rtl.scss */
  .nav__main_footer_item > a {
    font-size: 1.3em;
  }
}
@media all and (min-width: 920px) {
  /* line 653, ../sass/_modules-rtl.scss */
  .nav__main_footer_item > a {
    font-size: 1.6em;
  }
}

/* line 658, ../sass/_modules-rtl.scss */
.nav__main_footer_item_child a {
  font-size: 1.2em;
}

/*-----------------------------------------------------------*\
	Notifications Center
\*-----------------------------------------------------------*/
/* line 667, ../sass/_modules-rtl.scss */
.notifications-center__nav {
  margin-bottom: 2.25em;
}
/* line 669, ../sass/_modules-rtl.scss */
.notifications-center__nav li {
  margin-right: 2em;
  font-size: 1.2em;
}
/* line 672, ../sass/_modules-rtl.scss */
.notifications-center__nav li:last-child {
  margin-right: 0;
}

/* line 677, ../sass/_modules-rtl.scss */
.notifications-center__content-list {
  font-size: 1.6em;
}
/* line 679, ../sass/_modules-rtl.scss */
.notifications-center__content-list > li {
  position: relative;
  line-height: 1.25em;
  padding: 0 30px 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/* line 685, ../sass/_modules-rtl.scss */
.notifications-center__content-list > li p {
  font-size: 1em;
}
/* line 688, ../sass/_modules-rtl.scss */
.notifications-center__content-list > li a:after {
  right: -20px;
  content: "\2192";
}
/* line 692, ../sass/_modules-rtl.scss */
.notifications-center__content-list > li:last-child {
  margin-bottom: 0;
}
/* line 696, ../sass/_modules-rtl.scss */
.notifications-center__content-list .deleteNotification {
  right: 0;
}
/* line 700, ../sass/_modules-rtl.scss */
.notifications-center__content-list .notification__message .username {
  font-weight: 700;
}
/* line 703, ../sass/_modules-rtl.scss */
.notifications-center__content-list .notification__message .notification__message__left {
  padding-right: 1em;
}
/* line 707, ../sass/_modules-rtl.scss */
.notifications-center__content-list .notification__message .notification__message__right {
  float: left;
}
/* line 711, ../sass/_modules-rtl.scss */
.notifications-center__content-list .notification__event-details li {
  font-size: 0.875em;
  margin-right: 2.14285714285714em;
}
/* line 714, ../sass/_modules-rtl.scss */
.notifications-center__content-list .notification__event-details li:last-child {
  margin-right: 0;
}

/* line 2, ../sass/_admin-rtl.scss */
.admin-nav__control__count {
  right: 0px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 700;
}

/* line 8, ../sass/_admin-rtl.scss */
.dropdown {
  left: 3em;
  right: auto;
}
@media all and (min-width: 720px) {
  /* line 8, ../sass/_admin-rtl.scss */
  .dropdown {
    left: 0;
    right: auto;
  }
  /* line 14, ../sass/_admin-rtl.scss */
  .dropdown:before {
    left: 5px !important;
    right: auto !important;
  }
  /* line 18, ../sass/_admin-rtl.scss */
  .dropdown:after {
    left: 5px !important;
    right: auto !important;
  }
}

/* line 24, ../sass/_admin-rtl.scss */
.user-nav {
  margin-left: 10px;
}
@media all and (min-width: 720px) {
  /* line 24, ../sass/_admin-rtl.scss */
  .user-nav {
    margin-left: 15px;
  }
}

/* line 30, ../sass/_admin-rtl.scss */
.user-menu__item {
  font-size: 1.5em;
}
/* line 32, ../sass/_admin-rtl.scss */
.user-menu__item.account-link-item {
  font-size: 1.4em;
}

/* line 37, ../sass/_admin-rtl.scss */
.user-menu .icon {
  margin-right: 5px;
}

/* line 43, ../sass/_admin-rtl.scss */
.user-notifications li,
.user-notifications .dropdown__header,
.user-messages li,
.user-messages .dropdown__header {
  font-size: 1.3em;
}
/* line 48, ../sass/_admin-rtl.scss */
.user-notifications .dropdown .dropdown__header,
.user-messages .dropdown .dropdown__header {
  padding: 10px 20px 20px 20px;
}
/* line 51, ../sass/_admin-rtl.scss */
.user-notifications .dropdown .dropdown__inner-link,
.user-messages .dropdown .dropdown__inner-link {
  font-size: 10px;
  float: left;
}
/* line 54, ../sass/_admin-rtl.scss */
.user-notifications .dropdown .dropdown__inner-link .icon,
.user-messages .dropdown .dropdown__inner-link .icon {
  margin: 0 5px 0 0;
}
/* line 58, ../sass/_admin-rtl.scss */
.user-notifications .dropdown .dropdown_title,
.user-messages .dropdown .dropdown_title {
  font-weight: 400;
  font-size: 1.4em;
  float: right;
}

/* line 65, ../sass/_admin-rtl.scss */
.user-notifications {
  font-weight: 400;
}

/* line 69, ../sass/_admin-rtl.scss */
.user-nav .dropdown:after, .user-nav .dropdown:before {
  left: 55px;
  right: auto;
}

/* line 75, ../sass/_admin-rtl.scss */
.user-messages .dropdown:after, .user-messages .dropdown:before {
  left: 98px;
  right: auto;
}

/* line 81, ../sass/_admin-rtl.scss */
.user-notifications .dropdown:after, .user-notifications .dropdown:before {
  left: 140px;
  right: auto;
}

/* line 90, ../sass/_admin-rtl.scss */
.admin-nav__dropdown .msg__item_left,
.messages-modal__conversations .message__left {
  padding-left: 10px;
  padding-right: 0;
}

/* line 97, ../sass/_admin-rtl.scss */
.admin-nav__dropdown .msg__item_right .msg {
  font-size: 13px;
  line-height: 17px;
}
/* line 101, ../sass/_admin-rtl.scss */
.admin-nav__dropdown .msg__item_right:before {
  border-width: 6px;
  border-left-width: 6px + 0px;
  border-left-color: #EEE;
  right: -11px;
  left: auto;
}

/* line 108, ../sass/_admin-rtl.scss */
.dashboard-page .subsection-title {
  line-height: 30px;
  font-size: 2em;
}

/* ---------------- End of Messages Shared Styles --------------- */
/*----------------------------------------*\
	Messages Styles
\*----------------------------------------*/
/* line 119, ../sass/_admin-rtl.scss */
#inbox > header .subsection-title {
  line-height: 30px;
  font-size: 2em;
}
/* line 122, ../sass/_admin-rtl.scss */
#inbox > header .subsection-title:before {
  content: "\203A";
  font-size: 2em;
  line-height: 38px;
}

/* line 131, ../sass/_admin-rtl.scss */
a.message:hover .message__inner:before {
  border-right-color: #E33B4D;
}

/* line 136, ../sass/_admin-rtl.scss */
#newMsg {
  font-size: 1.4em;
  left: 0;
  right: auto;
  font-weight: 700;
}

/* line 144, ../sass/_admin-rtl.scss */
.conversations .message .username {
  font-weight: 700;
  font-size: 1.6em;
}
/* line 149, ../sass/_admin-rtl.scss */
.conversations .msg {
  font-size: 14px;
  line-height: 17px;
}
/* line 156, ../sass/_admin-rtl.scss */
.conversations .message__left {
  padding-left: 10px;
  padding-right: 0;
}
/* line 161, ../sass/_admin-rtl.scss */
.conversations .message__right {
  padding-left: 0;
  padding-right: 60px;
}
/* line 165, ../sass/_admin-rtl.scss */
.conversations .message__right .message__inner:before {
  border-width: 6px;
  border-left-width: 6px + 0px;
  border-left-color: #EEE;
  right: -11px;
}

/* line 173, ../sass/_admin-rtl.scss */
.msg-date {
  margin-left: 60px;
}

/* line 181, ../sass/_admin-rtl.scss */
.message-sent .message__right {
  padding-left: 6em;
  padding-right: 0;
}
/* line 185, ../sass/_admin-rtl.scss */
.message-sent .message__right .message__inner:before {
  border-right: 6px solid #bbb;
  border-left: 6px solid transparent;
  left: -11px;
  right: auto;
}
/* line 193, ../sass/_admin-rtl.scss */
.message-sent .message__left {
  left: 0;
  right: auto;
  padding-right: 10px;
  padding-left: 0;
}
/* line 199, ../sass/_admin-rtl.scss */
.message-sent .msg-date {
  text-align: right;
  margin-left: 60px;
  margin-right: 0;
}

/* line 205, ../sass/_admin-rtl.scss */
.message-form {
  text-align: right;
}

/* line 208, ../sass/_admin-rtl.scss */
.new-msg-user {
  text-align: left;
}
/* line 210, ../sass/_admin-rtl.scss */
.new-msg-user label {
  left: 10;
}
/* line 213, ../sass/_admin-rtl.scss */
.new-msg-user input {
  padding-left: 30px;
}

/* ---------------- End of Messages Modal Styles ---------------- */
/*----------------------------------------*\
	Common Forms Styles
\*----------------------------------------*/
/* line 223, ../sass/_admin-rtl.scss */
legend {
  font-size: 1.6em;
}

/* line 226, ../sass/_admin-rtl.scss */
label {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.25em;
}

/* line 231, ../sass/_admin-rtl.scss */
input, textarea, button {
  font-size: 1.4em;
}

/* line 240, ../sass/_admin-rtl.scss */
input.btn {
  font-weight: 400;
}

/* line 243, ../sass/_admin-rtl.scss */
.combo {
  margin-left: -3em;
}
/* line 245, ../sass/_admin-rtl.scss */
.combo .form-group {
  padding-left: 3em;
}

/* line 250, ../sass/_admin-rtl.scss */
.links__group {
  margin-left: -3%;
}
/* line 252, ../sass/_admin-rtl.scss */
.links__group .links__group__item {
  width: 30.333%;
  margin-left: 3%;
  margin-bottom: 30px;
}
/* line 261, ../sass/_admin-rtl.scss */
.links__group .fa {
  margin-right: 10px;
}

/* line 266, ../sass/_admin-rtl.scss */
.options-group input, .options-group label {
  width: auto;
  float: none;
}
/* line 270, ../sass/_admin-rtl.scss */
.options-group input {
  margin-left: 5px;
}

/* line 274, ../sass/_admin-rtl.scss */
.options-group.radios {
  margin-right: 30px;
}

/* line 277, ../sass/_admin-rtl.scss */
.conference-extra__element {
  font-size: 14px;
}
/* line 279, ../sass/_admin-rtl.scss */
.conference-extra__element label {
  font-size: 14px;
}
/* line 282, ../sass/_admin-rtl.scss */
.conference-extra__element span {
  margin: 0 5px 0 0;
}

/* ---------------- End of Common Forms Styles ------------------ */
/*----------------------------------------*\
	Dashboard Page & Admin Pages
\*----------------------------------------*/
/* line 292, ../sass/_admin-rtl.scss */
.admin-bar__list > li {
  margin-left: 25px;
  margin-right: 0;
}
/* line 295, ../sass/_admin-rtl.scss */
.admin-bar__list > li:last-child {
  margin-left: 0;
}
@media all and (min-width: 420px) {
  /* line 300, ../sass/_admin-rtl.scss */
  .admin-bar__list > li {
    margin-left: 50px;
    margin-right: 0;
  }
  /* line 303, ../sass/_admin-rtl.scss */
  .admin-bar__list > li:last-child {
    margin-left: 0;
  }
}
@media all and (min-width: 920px) {
  /* line 309, ../sass/_admin-rtl.scss */
  .admin-bar__list > li {
    margin-left: 95px;
    margin-right: 0;
  }
  /* line 312, ../sass/_admin-rtl.scss */
  .admin-bar__list > li:last-child {
    margin-left: 0;
  }
}

/* line 318, ../sass/_admin-rtl.scss */
.admin-bar__link {
  font-size: 1.2em;
}
/* line 320, ../sass/_admin-rtl.scss */
.admin-bar__link .icon {
  font-size: 18px;
  margin-right: 5px;
}
@media all and (min-width: 620px) {
  /* line 325, ../sass/_admin-rtl.scss */
  .admin-bar__link .icon {
    font-size: 20px;
    margin-right: 10px;
  }
}
@media all and (min-width: 620px) {
  /* line 318, ../sass/_admin-rtl.scss */
  .admin-bar__link {
    font-size: 1.6em;
  }
}

/* line 334, ../sass/_admin-rtl.scss */
.admin__dropdown {
  left: 0;
}
/* line 336, ../sass/_admin-rtl.scss */
.admin__dropdown:before {
  top: -20px;
  left: 3px;
}
/* line 340, ../sass/_admin-rtl.scss */
.admin__dropdown:after {
  top: -19px;
  left: 3px;
}
/* line 344, ../sass/_admin-rtl.scss */
.admin__dropdown a {
  font-size: 1.4em;
}

/* line 349, ../sass/_admin-rtl.scss */
.pager li {
  margin-left: 10px;
  font-size: 1.25em;
}
/* line 352, ../sass/_admin-rtl.scss */
.pager li a {
  font-size: 1.2em;
  font-family: helvetica;
  font-weight: 700;
}

/* line 362, ../sass/_admin-rtl.scss */
#dashboardSendMsgForm legend {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.35em;
}
/* line 367, ../sass/_admin-rtl.scss */
#dashboardSendMsgForm input[type="submit"] {
  font-family: "Droid Arabic Kufi";
  outline: none;
}

/* line 374, ../sass/_admin-rtl.scss */
.content-form-header {
  font-weight: 700;
  font-size: 1.5em;
}

/* line 382, ../sass/_admin-rtl.scss */
.admin-filter label, .admin-filter select {
  font-weight: 400;
}
/* line 385, ../sass/_admin-rtl.scss */
.admin-filter label {
  font-size: 1.4em;
  margin-right: 10px;
}
/* line 389, ../sass/_admin-rtl.scss */
.admin-filter select {
  font-size: 1.2em;
}

/* line 396, ../sass/_admin-rtl.scss */
.admin-content-form-item {
  padding: 1em 0.5em 1em;
}
/* line 398, ../sass/_admin-rtl.scss */
.admin-content-form-item .content-type {
  font-size: 1.4em;
}
/* line 402, ../sass/_admin-rtl.scss */
.admin-content-form-item .content-group {
  padding-right: 3em;
}
/* line 408, ../sass/_admin-rtl.scss */
.admin-content-form-item .content-operations a {
  font-size: 1.4em;
}
/* line 410, ../sass/_admin-rtl.scss */
.admin-content-form-item .content-operations a:first-child {
  margin-right: 15px;
}
/* line 418, ../sass/_admin-rtl.scss */
.admin-content-form-item .content-group__right-col {
  padding-left: 3em;
}
/* line 422, ../sass/_admin-rtl.scss */
.admin-content-form-item .content-title {
  font-size: 1.4em;
  line-height: 1.25em;
}
/* line 427, ../sass/_admin-rtl.scss */
.admin-content-form-item .media-type {
  font-size: 11px;
}

/* line 433, ../sass/_admin-rtl.scss */
.media-group, .user-group {
  font-size: 1.4em;
}
/* line 435, ../sass/_admin-rtl.scss */
.media-group p, .user-group p {
  font-size: 1em;
}

/* line 439, ../sass/_admin-rtl.scss */
.admin-page__title {
  font-size: 2em;
  font-weight: 300;
}

/* line 443, ../sass/_admin-rtl.scss */
.admin-form {
  padding: 4em;
}
/* line 449, ../sass/_admin-rtl.scss */
.admin-form .module .form-inner-action-group {
  text-align: right;
}
/* line 452, ../sass/_admin-rtl.scss */
.admin-form .module .remove {
  right: 5px;
}
/* line 463, ../sass/_admin-rtl.scss */
.admin-form .module-initiative-tasks-list input, .admin-form .module-initiative-tasks-list textarea {
  display: inline-block;
  float: none;
}

/* line 476, ../sass/_admin-rtl.scss */
.user__profile .admin-form .profile__bio textarea {
  font-size: 18px;
}

/* line 482, ../sass/_admin-rtl.scss */
#deleteAcc {
  font-size: 1.4em;
}

/* ---------------- End of Dashboard Page & Admin Pages --------- */
/* line 488, ../sass/_admin-rtl.scss */
.event-create-notification-msg p {
  font-size: 1.4em;
  font-weight: 700;
}
/* line 492, ../sass/_admin-rtl.scss */
.event-create-notification-msg .form-main-btn-wrapper {
  text-align: right;
}

/*----------------------------------------------------------*\
	HOME Page STYLES
\*----------------------------------------------------------*/
/* line 7, ../sass/screen-rtl.scss */
.home-slider .slide-title {
  font-size: 2.2em;
  line-height: 1.25em;
  padding-right: 0;
  padding-left: 60px;
}
@media all and (min-width: 620px) {
  /* line 7, ../sass/screen-rtl.scss */
  .home-slider .slide-title {
    font-size: 2.4em;
  }
}
@media all and (min-width: 920px) {
  /* line 7, ../sass/screen-rtl.scss */
  .home-slider .slide-title {
    font-size: 3.6em;
  }
}
@media all and (min-width: 1180px) {
  /* line 7, ../sass/screen-rtl.scss */
  .home-slider .slide-title {
    font-size: 5.8em;
  }
}
/* line 22, ../sass/screen-rtl.scss */
.home-slider .slider__section-tag {
  font-family: "Droid Arabic Kufi";
  font-size: 1.2em;
  padding: 0 15px 2px;
}
@media all and (min-width: 620px) {
  /* line 22, ../sass/screen-rtl.scss */
  .home-slider .slider__section-tag {
    font-size: 1.4em;
  }
}
@media all and (min-width: 920px) {
  /* line 22, ../sass/screen-rtl.scss */
  .home-slider .slider__section-tag {
    font-size: 1.6em;
  }
}

/* line 35, ../sass/screen-rtl.scss */
.hp-content .section-link {
  font-size: 1.4em;
  line-height: 1.3em;
  margin-left: 0;
  margin-right: 10px;
}
/* line 40, ../sass/screen-rtl.scss */
.hp-content .section-link .fa-angle-right {
  margin-right: 5px;
  margin-left: 0;
}
/* line 43, ../sass/screen-rtl.scss */
.hp-content .section-link .fa-angle-right:before {
  content: "";
}

@media all and (min-width: 720px) {
  /* line 51, ../sass/screen-rtl.scss */
  .home-list.content-list .content-list__item {
    padding-bottom: 3em;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 4em 4em;
  }
}
@media all and (min-width: 720px) {
  /* line 54, ../sass/screen-rtl.scss */
  .home-list.content-list .content-list__item:nth-child(2n) {
    margin-right: -3px;
    margin-left: 0;
  }
}
/* line 60, ../sass/screen-rtl.scss */
.home-list.content-list .postMeta {
  float: none;
}
/* line 62, ../sass/screen-rtl.scss */
.home-list.content-list .postMeta .publish-date,
.home-list.content-list .postMeta .author-name {
  vertical-align: middle;
}
@media all and (min-width: 720px) {
  /* line 68, ../sass/screen-rtl.scss */
  .home-list.content-list article {
    min-height: 220px;
  }
}

/* line 74, ../sass/screen-rtl.scss */
#hp-event .title {
  font-size: 1.4em;
  font-weight: 700;
}
/* line 78, ../sass/screen-rtl.scss */
#hp-event .event__date {
  font-size: 1.4em;
}
/* line 81, ../sass/screen-rtl.scss */
#hp-event .event__location {
  font-size: 1.4em;
}

/* line 86, ../sass/screen-rtl.scss */
#hp-experts .expert__item_avatar {
  left: auto;
  right: 1em;
}
/* line 90, ../sass/screen-rtl.scss */
#hp-experts .expert__item_details {
  padding-right: 9em;
  padding-left: 0;
}

/*----------------------------------------------------------*\
	END OF HOME Page STYLES
\*----------------------------------------------------------*/
/*----------------------------------------------------------*\
	Events Index Page STYLES
\*----------------------------------------------------------*/
/* line 107, ../sass/screen-rtl.scss */
.event__location {
  font-size: 1.8em;
  font-weight: 400;
}

/* line 111, ../sass/screen-rtl.scss */
.wImg .events__item-img {
  right: auto;
  left: -20px;
}

/* line 115, ../sass/screen-rtl.scss */
.events__item__date {
  font-size: 1.8em;
  line-height: 1.25em;
}

/* line 120, ../sass/screen-rtl.scss */
.events__item__location {
  font-size: 1.4em;
  line-height: 1.5em;
}

@media all and (max-width: 440px) {
  /* line 125, ../sass/screen-rtl.scss */
  .events__item__date {
    font-size: 1.4em;
  }

  /* line 128, ../sass/screen-rtl.scss */
  .events__item__location {
    font-size: 1.2em;
  }
}
/* line 132, ../sass/screen-rtl.scss */
.events__item__header .sub-title {
  font-size: 1.4em;
}
@media all and (max-width: 440px) {
  /* line 132, ../sass/screen-rtl.scss */
  .events__item__header .sub-title {
    font-size: 1.2em;
  }
}

/* line 138, ../sass/screen-rtl.scss */
.events__item__shortcuts-links a {
  font-size: 1.5em;
  margin-left: 60px;
  margin-right: 0px;
}
/* line 142, ../sass/screen-rtl.scss */
.events__item__shortcuts-links a:last-child {
  margin-left: 0;
  margin-right: 0;
}

/*----------------------------------------------------------*\
	End OF Events Index Page STYLES
\*----------------------------------------------------------*/
/*----------------------------------------------------------*\
	EVENT SINGLE PAGE STYLES
\*----------------------------------------------------------*/
/* Top Styles ---------------------- */
/* line 156, ../sass/screen-rtl.scss */
.event__date {
  font-size: 1em;
}
/* line 158, ../sass/screen-rtl.scss */
.nested-event .event__date {
  font-size: 2.2em;
}
@media all and (min-width: 920px) {
  /* line 156, ../sass/screen-rtl.scss */
  .event__date {
    font-size: 2em;
  }
}

/* line 165, ../sass/screen-rtl.scss */
.event__state {
  font-size: 1.2em;
}

/* Bottom Styles ---------------------- */
@media all and (min-width: 720px) {
  /* line 170, ../sass/screen-rtl.scss */
  .event__person {
    padding-bottom: 3em;
    width: 50%;
    float: right;
    padding: 0 0 4em 4em;
  }
}

/* line 176, ../sass/screen-rtl.scss */
.event__person_details {
  padding-right: 9em;
  padding-left: 0;
}

/* line 180, ../sass/screen-rtl.scss */
.event__person_name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.25em;
}

/* line 185, ../sass/screen-rtl.scss */
.event__person_bio p {
  font-size: 1.5em;
  line-height: 1.25em;
}

/* line 189, ../sass/screen-rtl.scss */
.event__building {
  font-size: 1.8em;
  font-weight: 700;
}

/* line 193, ../sass/screen-rtl.scss */
.event__street,
.event__city {
  font-size: 1.4em;
}

/* line 197, ../sass/screen-rtl.scss */
.nested-event .event__location {
  font-size: 1.4em;
}

/* line 200, ../sass/screen-rtl.scss */
.nested-event__title {
  font-size: 3em;
  right: -1px;
  left: auto;
}

/* line 206, ../sass/screen-rtl.scss */
.related-media__list li {
  margin-left: 0;
  margin-right: -2px;
}
/* line 209, ../sass/screen-rtl.scss */
.related-media__list li.related__media__list__link a {
  font-size: 2em;
  padding: 1em 1em 2em 1em;
  line-height: 1em;
}
/* line 214, ../sass/screen-rtl.scss */
.related-media__list li.related__media__list__link a:after {
  font-size: 1.2em;
}
@media all and (max-width: 350px) {
  /* line 209, ../sass/screen-rtl.scss */
  .related-media__list li.related__media__list__link a {
    font-size: 1.6em;
  }
}

/*----------------------------------------------------------*\
	END OF EVENT SINGLE PAGE STYLES
\*----------------------------------------------------------*/
/*----------------------------------------------------------*\
	SHARQ CONTENT STYLES
\*----------------------------------------------------------*/
/* line 233, ../sass/screen-rtl.scss */
.post__nav > ul.active {
  left: auto;
  right: 0;
}
/* line 236, ../sass/screen-rtl.scss */
.post__nav > ul.active li a {
  line-height: 1.25em;
  font-size: 13px;
}
/* line 242, ../sass/screen-rtl.scss */
.post__nav .share-component .label {
  font-size: 1.3em;
}
/* line 245, ../sass/screen-rtl.scss */
.post__nav .share-component .share-links li {
  margin-right: 0;
  margin-left: 1.5em;
}
/* line 248, ../sass/screen-rtl.scss */
.post__nav .share-component .share-links li a {
  font-size: 1.8em;
}
/* line 251, ../sass/screen-rtl.scss */
.post__nav .share-component .share-links li:last-child {
  margin-left: 0;
}
@media all and (min-width: 920px) {
  /* line 257, ../sass/screen-rtl.scss */
  .post__nav > ul > li > a {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.65em;
  }
}

/* line 264, ../sass/screen-rtl.scss */
.sub_nav li {
  font-size: 1.4em;
}

/*----------------------------------------------------------*\
	END OF SHARQ CONTENT STYLES
\*----------------------------------------------------------*/
/*----------------------------------------------------------*\
	BLOG STYLES
\*----------------------------------------------------------*/
/* line 277, ../sass/screen-rtl.scss */
.slide-item header {
  left: auto;
  right: 0;
  padding: 2em 2em 2em 5em;
}
@media all and (min-width: 1180px) {
  /* line 277, ../sass/screen-rtl.scss */
  .slide-item header {
    padding: 4em 4em 4em 10em;
  }
}

/* line 286, ../sass/screen-rtl.scss */
.slide-title {
  font-size: 2.2em;
}
@media all and (min-width: 620px) {
  /* line 286, ../sass/screen-rtl.scss */
  .slide-title {
    font-size: 2.6em;
  }
}
@media all and (min-width: 920px) {
  /* line 286, ../sass/screen-rtl.scss */
  .slide-title {
    font-size: 3.4em;
  }
}
@media all and (min-width: 1180px) {
  /* line 286, ../sass/screen-rtl.scss */
  .slide-title {
    font-size: 4.2em;
  }
}

/* line 300, ../sass/screen-rtl.scss */
#slider-nav a {
  font-size: 5em;
}
/* line 303, ../sass/screen-rtl.scss */
#slider-nav #nextSlide {
  right: auto;
  left: 34px;
}
/* line 307, ../sass/screen-rtl.scss */
#slider-nav #prevSlide {
  right: auto;
  left: 54px;
}

/*----------------------------------------------------------*\
	END BLOG STYLES
\*----------------------------------------------------------*/
/*----------------------------------------------------------*\
	Experts STYLES
\*----------------------------------------------------------*/
/* line 320, ../sass/screen-rtl.scss */
.expert__item_name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.25em;
}

/* line 325, ../sass/screen-rtl.scss */
.expert__item_title {
  font-size: 1.3em;
  font-weight: 700;
}

/* line 329, ../sass/screen-rtl.scss */
.expert__item_bio p {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* line 333, ../sass/screen-rtl.scss */
.expert__item_avatar {
  left: auto;
  right: 0;
}

/* line 337, ../sass/screen-rtl.scss */
.expert__item_details {
  padding-left: 0;
  padding-right: 12em;
}

/* line 342, ../sass/screen-rtl.scss */
.sidebar__latest-blog .author-name {
  font-size: 1.3em;
  font-weight: 700;
}

/*----------------------------------------------------------*\
	END Experts STYLES
\*----------------------------------------------------------*/
/*----------------------------------------------------------*\
	Profiles STYLES
\*----------------------------------------------------------*/
/* line 354, ../sass/screen-rtl.scss */
.expert__badge {
  font-family: "Droid Arabic Kufi";
}

/* line 357, ../sass/screen-rtl.scss */
.user__profile_title {
  font-size: 1.6em;
}

/* line 360, ../sass/screen-rtl.scss */
.user__profile_bio p {
  font-size: 1.6em;
}

/* line 364, ../sass/screen-rtl.scss */
.contact-card li {
  margin-right: 0;
  margin-left: 20px;
}
/* line 368, ../sass/screen-rtl.scss */
.contact-card .fa {
  font-size: 2em;
}
/* line 371, ../sass/screen-rtl.scss */
.contact-card .contact-item {
  font-size: 12px;
  margin-left: 0;
  margin-right: -4px;
}
/* line 375, ../sass/screen-rtl.scss */
.contact-card .contact-item:before {
  margin-left: 0;
  margin-right: -4px;
}

/* line 381, ../sass/screen-rtl.scss */
.user__profile__settings {
  right: auto;
  left: 35%;
  text-align: right;
}
/* line 385, ../sass/screen-rtl.scss */
.user__profile__settings ul li a {
  font-size: 1.4em;
}
/* line 388, ../sass/screen-rtl.scss */
.user__profile__settings .settings_dropdown {
  left: auto;
}
/* line 391, ../sass/screen-rtl.scss */
.user__profile__settings .fa {
  font-size: 1.2em;
}

/* line 395, ../sass/screen-rtl.scss */
.userMsg__btn {
  font-size: 1.2em;
  font-weight: 700;
  right: auto;
  left: 30px;
}
@media all and (min-width: 620px) {
  /* line 395, ../sass/screen-rtl.scss */
  .userMsg__btn {
    font-size: 1.4em;
  }
}

/* line 404, ../sass/screen-rtl.scss */
.expert-badge {
  font-size: 1.6em;
  line-height: 1.35em;
}

/*----------------------------------------------------------*\
	END Profiles STYLES
\*----------------------------------------------------------*/
/*--------------------*\
	Multimedia Index
\*--------------------*/
@media all and (min-width: 720px) {
  /* line 415, ../sass/screen-rtl.scss */
  .multimedia-list {
    margin: 0 -4em 0 0;
  }
}

@media all and (min-width: 720px) {
  /* line 421, ../sass/screen-rtl.scss */
  .mutlimedia-list__album {
    padding-bottom: 3em;
    width: 33.333%;
    float: right;
    padding: 0 0 4em 4em;
  }
}
/* line 423, ../sass/screen-rtl.scss */
.mutlimedia-list__album .album__description p {
  font-size: 1.6em;
  line-height: 1.35em;
}
@media all and (min-width: 720px) {
  /* line 421, ../sass/screen-rtl.scss */
  .mutlimedia-list__album {
    padding: 30% 4em 4em 0;
  }
  /* line 429, ../sass/screen-rtl.scss */
  .mutlimedia-list__album:first-child {
    padding-top: 30%;
  }
  /* line 432, ../sass/screen-rtl.scss */
  .mutlimedia-list__album article {
    left: 0;
    right: 4em;
  }
  /* line 436, ../sass/screen-rtl.scss */
  .mutlimedia-list__album:after {
    left: 0;
    right: 4em;
  }
}

/* line 442, ../sass/screen-rtl.scss */
#tags.album-tags {
  text-align: right;
  float: none;
  padding-right: 0;
}
/* line 446, ../sass/screen-rtl.scss */
#tags.album-tags a {
  margin: 0 0 5px 5px;
  padding: 2px 5px;
  font-size: 1.1em;
}

/* line 458, ../sass/screen-rtl.scss */
.gallery__image__description {
  float: left;
}
/* line 460, ../sass/screen-rtl.scss */
.gallery__image__description p {
  font-size: 1.6em;
  right: auto;
  left: -5px;
}
/* line 464, ../sass/screen-rtl.scss */
.gallery__image__description p:before {
  right: auto;
  left: 5px;
}

/* line 470, ../sass/screen-rtl.scss */
#toggleModalDescription {
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
}

/* line 478, ../sass/screen-rtl.scss */
.content-by-tags-list .mutlimedia-list__album {
  float: none;
}
/* line 480, ../sass/screen-rtl.scss */
.content-by-tags-list .mutlimedia-list__album .postMeta {
  float: none;
}
/* line 484, ../sass/screen-rtl.scss */
.content-by-tags-list .section-tag {
  font-size: 1.6em;
}

/* line 489, ../sass/screen-rtl.scss */
.search-results > header p {
  font-size: 12px;
}

/*----------------------------------------*\
	Discussions Board & Innitiatives
\*----------------------------------------*/
/* line 499, ../sass/screen-rtl.scss */
.initiative .author-avatar,
.discussion .author-avatar,
.initiatives-list__item .author-avatar,
.discussion-board-list__item .author-avatar {
  margin-right: 0;
  margin-left: 5px;
}

/* line 508, ../sass/screen-rtl.scss */
.initiative .post-top header,
.discussion .post-top header {
  padding-right: 0;
  padding-left: 6em;
}

/* line 519, ../sass/screen-rtl.scss */
.discussion-board-list__item.pinned:after {
  right: auto;
  left: 0;
}

/* line 524, ../sass/screen-rtl.scss */
.initiatives-list__item .initiatives-list__item__excerpt,
.initiatives-list__item header {
  padding-left: 70px;
  padding-right: 0;
}

/* line 530, ../sass/screen-rtl.scss */
.moudle__initiative__vote {
  right: 0;
}

/* line 533, ../sass/screen-rtl.scss */
.vote {
  font-size: 2em;
  line-height: 1.25em;
}

/* line 537, ../sass/screen-rtl.scss */
.vote-icon {
  margin-right: 0;
  margin-left: 10px;
}

/* line 543, ../sass/screen-rtl.scss */
.volunteer__list ul li:first-child {
  margin-left: 0;
  margin-right: 10px;
}

/* line 547, ../sass/screen-rtl.scss */
.volunteer__item h3 {
  font-size: 2em;
  line-height: 1.35em;
  font-weight: 700;
}
@media all and (max-width: 721px) {
  /* line 547, ../sass/screen-rtl.scss */
  .volunteer__item h3 {
    font-size: 1.6em;
  }
}
@media all and (max-width: 350px) {
  /* line 547, ../sass/screen-rtl.scss */
  .volunteer__item h3 {
    font-weight: 400;
  }
}

/* line 558, ../sass/screen-rtl.scss */
.volunteer__item__cap {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 22px;
  margin-right: 0;
  margin-left: 5px;
}

/* line 566, ../sass/screen-rtl.scss */
.volunteer__item__users li {
  font-size: 1.4em;
}
/* line 568, ../sass/screen-rtl.scss */
.volunteer__item__users li:after {
  content: ",";
}
/* line 571, ../sass/screen-rtl.scss */
.volunteer__item__users li:last-child:after {
  content: ".";
}

/* line 576, ../sass/screen-rtl.scss */
.volunteerButton {
  margin-left: 0;
  margin-right: 6px;
}

/* line 580, ../sass/screen-rtl.scss */
.vote__icon {
  right: 0;
  left: -15px;
}

/*--------------------*\
	Login/Register
\*--------------------*/
/* line 589, ../sass/screen-rtl.scss */
.login__register__form__wrapper {
  margin-left: 0;
  margin-right: -3em;
}
/* line 592, ../sass/screen-rtl.scss */
.login__register__form__wrapper .floated {
  padding-left: 0;
  padding-right: 3em;
}
/* line 596, ../sass/screen-rtl.scss */
.login__register__form__wrapper .floated:last-child:before {
  left: auto;
  right: 15px;
}
@media all and (max-width: 721px) {
  /* line 589, ../sass/screen-rtl.scss */
  .login__register__form__wrapper {
    margin-right: 0;
  }
  /* line 603, ../sass/screen-rtl.scss */
  .login__register__form__wrapper .floated {
    float: none;
  }
  /* line 605, ../sass/screen-rtl.scss */
  .login__register__form__wrapper .floated:last-child:before {
    right: 0;
  }
}

/* line 612, ../sass/screen-rtl.scss */
#account-form label {
  font-weight: 400;
}
/* line 615, ../sass/screen-rtl.scss */
#account-form .submit-btn {
  float: left;
}

/* line 619, ../sass/screen-rtl.scss */
.register-group .form-group {
  margin-right: 0;
  margin-left: 40px;
}
/* line 622, ../sass/screen-rtl.scss */
.register-group .form-group:last-child {
  margin-left: 0;
}

/* line 628, ../sass/screen-rtl.scss */
.login__register__form .st {
  font-size: 1.8em;
}
/* line 632, ../sass/screen-rtl.scss */
.login__register__form .form__title {
  font-size: 2.6em;
  font-weight: 700;
}
/* line 637, ../sass/screen-rtl.scss */
.login__register__form .login__regesiter__form__links .sep {
  font-size: 1.6em;
}
/* line 640, ../sass/screen-rtl.scss */
.login__register__form .login__regesiter__form__links a {
  font-size: 1.4em;
}
/* line 644, ../sass/screen-rtl.scss */
.login__register__form .form__col {
  width: 40%;
  padding-left: 0;
  padding-right: 3em;
}
/* line 650, ../sass/screen-rtl.scss */
.login__register__form input,
.login__register__form textarea {
  font-family: "Droid Arabic Kufi";
  font-size: 1.6em;
}
@media all and (max-width: 721px) {
  /* line 657, ../sass/screen-rtl.scss */
  .login__register__form .form__title {
    font-size: 2.2em;
  }
  /* line 659, ../sass/screen-rtl.scss */
  .login__register__form input, .login__register__form textarea {
    font-size: 1.4em;
  }
  /* line 661, ../sass/screen-rtl.scss */
  .login__register__form .form__col, .login__register__form .form__col.account-col__right {
    float: none;
  }
}
@media all and (max-width: 440px) {
  /* line 666, ../sass/screen-rtl.scss */
  .login__register__form .combo .links__group .links__group__item {
    float: none;
  }
}

/* line 674, ../sass/screen-rtl.scss */
.alsharq-team__list .content-list__item {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 4em;
}
@media all and (min-width: 720px) {
  /* line 674, ../sass/screen-rtl.scss */
  .alsharq-team__list .content-list__item {
    padding-bottom: 3em;
    width: 25%;
    float: right;
    padding: 0 0 4em 4em;
  }
}
/* line 680, ../sass/screen-rtl.scss */
.alsharq-team__list .item-link {
  padding: 2em;
  box-shadow: 0px 3px 5px -5px #000;
}

/* line 685, ../sass/screen-rtl.scss */
.member-name {
  text-align: center;
  font-size: 2em;
}

/* line 690, ../sass/screen-rtl.scss */
.member-title {
  text-align: center;
  font-size: 1.4em;
  color: #404040;
}
